 <li class="dropdown">
  <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="icon-white icon-plus-sign"></i>&nbsp;Additional Resources </a>
    <?php

      

     echo $this->element('navigation/dropdown_nav',array('dropdown_data'=>$additional_resources)); ?>
</li>
