<li id="admin_link" class="dropdown " >
	<a href="#" class="dropdown-toggle" data-toggle="dropdown">&nbsp;My Space</a>
	<div class="dropdown-menu" style="min-width:280px;" role="menu">
			<ul class="nav nav-list  dashboardSideNavL">
				<li class=""><a class="admin_ajax_link ajax_link" href="/my/dashboard/">Dashboard</a></li>
				<li class=""><a class="admin_ajax_link ajax_link" href="/my/userassets/">File Manager</a></li>
				<li role="presentation" class="divider"></li>
					<?php if (!empty($current_user)):  ?>
    	          <li><a class=" " href="/logout/">Logout</a></li>  
        	    <?php else: ?>
            	  <li><a class=" " href="/my/dashboard/">Login</a></li>   
            	<?php endif ?>



			</ul>        				
	</div>
</li>