<?php 	echo $this->Form->input('Post.quiz_id',$quizOptions); ?>
<div id = "quiz_content_ajax"></div>
<div class = "clearfix">&nbsp;</div>
<script type="text/javascript" >
	$("#quiz").change(function(e){
		alert('change');
	});
</script>