
<div class = "container" >
<?php echo $this->element('dev_menu'); ?>     
    


    <div id = "bottom_drawer_content" class ="col-sm-8 ">
            
        <h1>interactive CAGED Engine</h1>
        <h4>Click the numbered Buttons running along the neck. It will generate a caged position in your key at that spot.<br/><br/></h4>
        <?php  echo $this->Html->script(['/Virtuoso/Virtuoso/js/devs/GuitarUi','/Virtuoso/Virtuoso/js/devs/ui'], array('block'=>"bottom_script")); ?>
    </div>


    <div class = "col-sm-4">
        <?php echo $this->element('fpo/fpo_local_menu'); ?>   
    </div>

    <?php  //debug($here ); ?>


</div>

