<div class = "col-sm-12" >


    <?php //echo $this->element('dev_menu'); ?>     
    
    <?php echo $this->element('nav/intervals_Controls'); ?>     
    
    
    <div class = "clear clearfix">&nbsp;</div>
    <div class = "tm_1_em">
        <a  href = "/my/activities/">/my/activities/</a>
    </div>
    <h1>Development</h1>

    <div id = "bottom_drawer_content" >
        <div class="col-lg-12" id="caption_holder"></div>
    </div>    


    <?php  echo $this->Html->script(
            '/Virtuoso/Virtuoso/js/dev',
            array('block'=>"bottom_script")
         ); 
    ?>


</div>





