
<div class = "clear clearfix">&nbsp;</div>


<div class = "container">
    <?php echo $this->element("nav/nc"); ?>
</div>


<div class = "container">
    <h1>Modes Study</h1>
    <p>
    CagedPlayer is located in modes_intro.js<br/> 
        What it needs to do is manage Caged Arrays (and other sequence arrays.)<br/>
        It should be able to create sub sequences etc (turnaround / stop pointer) <br/>
        <br/>
        Play algorithmically, or Json.    
            algorythms are the play to x aqnd repeat or turn around.   (possibly the play 1234, 2345, 3456 etc.  You have already written that as run drill. )


        <br/> 
        You should base this on intervals.js, sspUi.js and IntervalSequencer.js<br/>

        <br/>
        1 C Ionian<br/> 
        2 D Dorian<br/>
        3 E Phrygian<br/>
        4 F Lydian<br/>
        5 G Mixolydian<br/>
        6 A Aeolian<br/>
        7 B Locrian<br/><br/>

        You need to create a translation layer between the UI and the caged position functinality.   the indexes dont map correctly.<br/><br/>

        Ok, so right now you are using the playSequence in playableguitar.js<br/>
        You need to write a custom one that is hidden from all the individual activities.<br/> 
         It needs to be able to:<br/>
        play to an index and either reverse or start over.<br/>It needs to have speed controlls as well as play/pause
        step forward and step back.<br/><br/>   

        caged is an array of arrays.   <br/><br/>you have one crawler for the parent array, and one or more for the children arrays.
        <br/>    im not sure how javscript handles threads.   register multiple crawlers to run concurrently?

        <br/>in this version, you are generating the algorithm in the initial array.   that is one way of handling it. <br/>
        <br/> the other way would be to write the stop and start pointers into  the crawl function.   




        It needs to have callbacks (or dispatched events) for when the note completes

        You need 


</p>
        <div class = "clear clearfix tm_4_em">&nbsp;</div>
        <h4>
    Sample Use Case
<h4>
    
<div class = "col-sm-4">
    <div class = "clear clearfix tm_2_em">&nbsp;</div>
    <div class = "well">
        major scale. octive to octive.   one string.    
    </div>
    <div class = "well">
        major scale. octive to octive.   position 1    
    </div>    
    <div class = "well">
        major scale. across the neck.    
    </div>        


    <div class = "well">
        major scale. position 2.    
    </div>        


    <div class = "well">
        major scale. neighboring positions.       
    </div>        







</div>            



</div>
