<div class = "container" >
<?php echo $this->element('dev_menu'); ?>     
<div class = "col-sm-8">
        <h1>Routing (but currently a CAGED lesson)</h1>

        I'm not sure how to script this.    What type of controls are needed.   vcr controls?  paly opause?  click the neck buttons?   
        press play and have play transitions? <br/> Also, it would be useful to have these pair neighboring  caged groups. and then route through them. 
        <br/>
        https://www.youtube.com/watch?v=APS3VCvQnRk
        <div style = "padding:20px; padding-top:20px">
        </div>
    </div>
    <div class = "col-sm-4">
        <?php echo $this->element('fpo/fpo_local_menu'); ?>   
    </div>

    
    
    <script>
        function audioReady(){
            guitar.showCurrentScaleCagedPortionAtFret(0)
            guitar.showCurrentScaleCagedPortionAtFret(12)
        }
    </script>
    <?php 
        // $this->Js->buffer("guitar.showCurrentScaleCagedPortionAtFret(2)");
        // $this->Js->buffer("guitar.showCurrentScaleCagedPortionAtFret(12)");
    ?> 
</div>
