<?php if ($layoutpos == "a"): ?>
<?php else: ?>  
   
<?php endif ?>




<div class= "tm_10_px" style="width:100%; text-align:center;" >

<img data-src="holder.js/240x140" class="img-circle" alt="Avatar Picture" src="/owls/badge_med_<?php echo $owl_avatar['image'] ?>.png" data-holder-rendered="true" style="width: 140px; height: 140px;">
</div>


<div class = 'tm_1_em bm_2_em' style = "width:100%; text-align:center;">
<div class = 'btn-group'  >
    <?php 
//	debug($owl_avatar); exit;
    $nData = $this->TreeNav->children($leftNavlinks, !empty($is_manager),$selected_nav_parents); 
    $style = 'btn-success';
    ?>
    <a href="<?php echo $nData['prev'] ?>" class = "btn btn-sm <?php echo $style; ?>">
        <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span>
    </a>
   <a href="<?php echo $nData['next'] ?>" class = "btn btn-sm <?php echo $style; ?>">
        <span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span>
    </a>
</div>
</div>




<div id = "sidenav_content">
 <?php echo $nData['nav']; ?>    	
</div>
<div class="bm_1em">&nbsp;</div>                    