<?php
	// $host = $_SERVER["HTTP_HOST"];
	// $host2 = str_replace("owl.","",$host);
	// if($host2=='pagekwik.com'){
	// 	$gaId =	'UA-47820807-2';
	// }else{
	// 	$gaId = 'UA-47820807-1';		
	// }
	echo '';
?>



<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'ID HERE', 'Sonosphere.com');
  ga('send', 'pageview');

</script>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'ID HERE', 'Sonosphere.com');
  ga('send', 'pageview');

</script>