
<div class="bs-component">
    <ul class="list-group">
    <li class="list-group-item">
        <span class="badge">14</span>
        CAGED
    </li>
    <li class="list-group-item">
        <span class="badge">2</span>
        Intervals
    </li>
    <li class="list-group-item">
        <span class="badge">1</span>
        Intervals
    </li>

    <li class="list-group-item">
        <span class="badge">1</span>
        Modes
    </li>
    <li class="list-group-item">
        <span class="badge">1</span>
        Vocabulary
    </li>

    <li class="list-group-item">
        <span class="badge">1</span>
        Review
    </li>
    </ul>
</div>