<div class="list-group">
    <H4>finished</h4>
    <a href="/my/activities/chords" target = "_blank"  class="list-group-item">Chords</a>        
    <a href="/my/activities/intervals/exercise" target = "_blank"  class="list-group-item">Intervals Quiz</a>
    <a href="/my/activities/intervals/exercise"  target = "_blank" class="list-group-item">Intervals Activity</a>    
</div>






<div class="list-group">
    <H4>In process</h4>
    <a href="/my/activities/routing"  target = "_blank" class="list-group-item">CAGED</a>
    <a href="/my/activities/modes"  target = "_blank" class="list-group-item">Modes</a>    

</div>








<div class="list-group">
    <H4>Slated</h4>
    <a href="/my/activities/crawling"  target = "_blank" class="list-group-item">Crawling</a>
    <a href="#" target = "_blank" class="list-group-item">Vocabulary</a>
    <a href="#"  target = "_blank" class="list-group-item">Review</a>
    <a href="/my/activities/dev" target = "_blank"  class="list-group-item">Intervals Dev</a>

</div>