
<div class = "container-fluid tm_1_em">


          <div class = "col-sm-12">
            <h1 style= "width:50%; display:inline">
              Practice Session
            </h1><br/>
            <h3 style= "width:50%; display:inline">Friday September 1, 2023 &nbsp;<small>1 Hour Session  &nbsp;</small></h3>

            <div style = " right:-14px" class="btn-group">
                <a href="#" class="btn btn-info">
                <span class="glyphicon glyphicon-time" aria-hidden="true"></span>
                </a>
                <a href="#" class="btn btn-info dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li><a href="#">5 minutes</a></li>
                  <li><a href="#">10 minutes</a></li>
                  <li><a href="#">15 minutes</a></li>
                  <li><a href="#">30 minutes</a></li>
                  <li><a href="#">45 minutes</a></li>
                  <li><a href="#">1 hour</a></li>
                  <li><a href="#">2 hours</a></li>
                  <li><a href="#">4 hours</a></li>
                  <li><a href="#">6 hours</a></li>                
                  <li><a href="#">8 hours</a></li>                
                  <li class="divider"></li>
                  <li><a href="#">Separated link</a></li>
                </ul>
            </div>  
          </div>

          <div class = "tm_1_em col-sm-12">
            <div class = "clear clearfix">&nbsp;</div>
            <?php echo $this->element('fpo/current_lesson_fpo2'); ?>   
            <?php //echo $this->element('stubs/current_lessons'); ?>   
          </div>   

</div>



<div class = "container-fluid">
  <div class = "col-sm-10">
    <p></p>
  </div>
</div>