<div class="navbar navbar-inverse" >
	<h2 class=" col-sm-4"><?php //echo $course['name']; ?> Forum</h2>
	<ul class="nav navbar navbar-nav pull-right">
				<li class = "active">
					<a class="" href="/my/forum/add/<?php echo $id; ?>"><i class="icon-white icon-plus-sign">&nbsp;</i>&nbsp; New Post</a>
				</li>
				<li class = "active">
					<a class="" href="/my/forums/">All Entries</a>
				</li>
	</ul>
	<div class="tm_4_em clear clearfix">&nbsp;</div>	

</div>




<div class="container-fluid tm_2_em">
 <div class="forum_listing">
   <?php
   		
		echo $this->element('stubs/forum_listing');
       foreach ($this->data as $key => $value) {
          echo $this->element('Forum.forum_title_row', array("data"=>$value));
       }
    ?>
 </div>
</div>



<script src = "/forum/js/forum_ui.js" type="text/javascript"></script>



