<div class="navbar navbar-inverse">
        <ul class="nav navbar navbar-nav pull-right">
                <li class = "active">
                        <a class="" href="/my/forum/<?php //echo $data['Course']['id']; ?>">All My Forums</a>
                </li>
        </ul>
</div>



<h2>Add a post to Course: <?php //echo $d['Course']['name']; ?> </h2>
<!--  text input box-->
<div class="col-sm-6">
        <?php $guid=1; ?> 
        <script>
                var file_path = "<?php echo $file_path; ?>";
                var file = "<?php echo $file; ?>";
                var guid = "<?php echo $guid; ?>";
        </script>
        <div class = "media_dest" id = "row_media_dest_<?php echo $guid; ?>" style = "width:100%" class = "" data-guid = "<?php echo ''; ?>" data-initial-file = "<?php echo $file; ?>" >
        </div>            
        <div class = "audio_player tm_1_em" id = "audio_player_<?php echo $guid; ?>">
                <?php echo $this->element('Userassets.user_area/audio_player/audio_player_ui',array('initial_file'=>$file,'guid'=>$guid   )); ?>
                <?php echo $this->element('Userassets.user_area/audio_player/audio_visualizer',array('initial_file'=>$file,'guid'=>$guid )); ?>
        </div>
</div>

<div class = "clear clearfix">&nbsp;</div>


<div class="tm_1_em container-fluid">
                <div class="hero-unit">
                        <?php                    
                                // uploader is here!
                                //    echo $this->element('Forum.song_selection_ui/song_selection_ui');

                                echo $this->BootstrapForm->create('Forumentry', array('class' => ''));
                                echo $this->BootstrapForm->hidden('id');
                                // echo $this->BootstrapForm->hidden('course_id',array("value"=>$d['Course']['id']));
                                echo $this->BootstrapForm->input('title',array("class"=>"col-sm-12 bm_1_em block"));
                                echo $this->BootstrapForm->textarea('copy',array("class"=>"forum_text_entry_box col-sm-12 bm_1_em block"));
                                echo $this->BootstrapForm->submit('Submit', array('action' => 'submit'));
                                echo $this->BootstrapForm->end();
                        ?>
                </div>
</div>



