

  <div class="navbar navbar-inverse">
  	<h2 class=" col-sm-4">All Forums. Forum Top Level List. </h2>
  	<ul class="nav navbar navbar-nav pull-right">
  				<li class = "active">
  				</li>
  				<li class = "active">
  				</li>
  	</ul>
  </div>




  <div class="container-fluid tm_2_em">

   <div class="forum_listing">
     <?php
         foreach ($this->data as $key => $value) {
            echo $this->element('Forum.forum_title_row', array("data"=>$value,'full_listing'=>true));
         }
      ?>
   </div>
  </div>
