<?php if ($layoutpos == "a"):
	$icon = 'glyphicon-chevron-up';
else:
	$icon = 'glyphicon-chevron-down';
 endif
 ?>

<div style = "z-index:111; left:-5px; width:100%; margin-top:-10px !important; padding-top:1px; padding-bottom:1px !important; ">
	<a id = "format_toggle" class = 'btn-block btn-default btn btn-default tm_10' href="" style = 'padding-bottom:1px; padding-top:8px'>
		<span id = "layout_toggle_button" class="glyphicon <?php echo $icon; ?>" aria-hidden="true"></span>
	</a>
</div>




<script type="text/javascript">
	$("#format_toggle").mouseover(function(e){});

	function collapseNav(){
		//$("#sidebar_content_hidable").hide();
		$("#sidebar_content_hidable").addClass('hidden');
		$("#prev_next").removeClass('hidden');
		$("#sidebar").css({'padding-bottom':'4px'});

		$("#layout_toggle_button").removeClass('glyphicon-chevron-up');
		$("#layout_toggle_button").addClass('glyphicon-chevron-down');


	}

	function expandNav(){
		$("#sidebar_content_hidable").removeClass('hidden');
		$("#prev_next").addClass('hidden');
		$("#sidebar").css({'padding-bottom':'20px'});
		$("#layout_toggle_button").addClass('glyphicon-chevron-up');
		$("#layout_toggle_button").removeClass('glyphicon-chevron-down');
	}


 //pt_1_em col-sm-9 col-md-10 admin_padding pt_3_em layout_b

	$("#format_toggle").click(function(e){

		console.log('click')
		var a = 'layout_a col-sm-9 col-md-10  pt_1_em tm_1_em';
		var b = 'layout_b col-sm-12 col-md-12';
		var _sidebar = "#sidebar";
		var _content = "#content";
		var _position = 'b';
		//--
		if($("#content").hasClass('layout_a')){
			//console.log('has a');
			$(_content).removeClass(a);
			$(_content).addClass(b);
			_position = 'b';
			collapseNav()
		}else{
			//console.log('not has a');
			$(_content).removeClass(b);
			$(_content).addClass(a);
			_position = 'a';
			expandNav()
		}
		$.ajax({
            url:'/layout/'+_position,
          //  data:$("form").serialize(),
            success: function(response){},
            error: function(response){
            }
        });
        //console.log(_position);
		return false
	});
	//content admin_content pt_1_em layout_a col-sm-9 col-md-10 admin_padding pt_3_em
	//content admin_content pt_1_em admin_padding pt_3_em layout_b col-sm-12 col-md-12 tm_1_em
</script>
