<div class="admin_padding tm_1_em" >
  <h2>
      <?php  echo($data['Practiceplan']['name']); ?>
  </h2>
  <table class="table table-striped table-bordered table-hover">
      <tbody>    

        <?php
            foreach ($practiceplans as $key => $value):
            $value["Practiceplan"] = $value;
            $nl = $value["Practiceplan"];
            $nid = $nl["id"];
            $k = "row_".$key % 2;
            $new_address = $address.'_'.$key;
            $id = $new_address.'n'.$nid;
            $level = count(explode('_',$address));
            $value['Practiceplan'] = $value;
            echo $this->element('practiceplans/recursive_activity_link2',array('is_manager'=>true,'practiceplans'=>$practiceplans)); 
        ?>
        <?php endforeach ?>
        
      </tbody>
  </table>
</div>




