<div class = "admin_padding">
	<h2>
		Editing Practiceplan
	</h2>
	<?php 
			
		echo $this->BootstrapForm->create('Practiceplan', array('class' => 'form-horizontal'));
		echo $this->BootstrapForm->input('taxonomy_only');
		echo $this->BootstrapForm->input('parent_id',array('options'=>$parent_id) );

		// echo $this->Form->input('parent_id');

		echo $this->BootstrapForm->hidden('id');
		echo $this->BootstrapForm->input('name', array(
			'required' => 'required'	
			,'class'=>' '
			)
		);

		if(isset($this->data['Activity'])){
			echo $this->BootstrapForm->input('activity_id',array('options'=>$activities_options,'value'=>$this->data['Activity']['id']));
		}else{
			echo $this->BootstrapForm->input('activity_id',array('options'=>$activities_options));
		}

		

		// debug($this->data);

	



?> 


		<div class ="clear clearfix tm_2_em">&nbsp;</div>
		<div class ="clear clearfix bm_2_em">&nbsp;</div>
		<?php echo $this->Form->end(__('Submit'));	
	?>
</div>
