<tr id = "SM<?php echo $value["Practiceplan"]["id"]; ?>" class = "parent<?php echo $address; ?> level_<?php echo $level ?> sitemap_row">
		<td>
			<?php echo $this->element(
                'practiceplans/practiceplans_sitemap_ui/expand_btn',
                array(
                    'value'=>$value,
                    'practiceplans'=>$practiceplans
                    ,'level'=>$level
                    ,'id'=>$address.'_'.$key.'n'.$value["Practiceplan"]['id']
                    )
                ); ?>
			</div>
		</td>
</tr>



<?php
    $level = count(explode('_',$address));

	foreach ($practiceplans as $key => $value):
		// $nid = $nl["id"];
		//$k = "row_".$key % 2;
		//$id = $address.'_'.$key.'n'.$nid;
		//$level = count(explode('_',$address));
        
		
	?>



<?php endforeach ?>