<div class="tm_2_em">
	<div>
		<div style=" margin:auto !important; text-align:center;">
			<img src = '/owls/badge_large_default.png' alt = "Avatar"/>			
			<h1 class="tm_1_em">Activity End</h1>
		</div>
	</div>
</div>
