
<table class="table table-striped table-bordered table-hover">
		<tbody>
		<tr></th>		
			<tr>
				<?php echo $this->element('recursive_sitemap_navlinks',array('is_manager'=>true,'navlinks'=>$navlinks)); ?>
			</tr>
		</tbody>
</table>
