/*
 * Base structure
 */

/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
}
/*
 * Global add-ons
 */

.sub-header {
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}
/*
 * Top navigation
 * Hide default border to remove 1px line.
 */
.navbar-fixed-top {
  border: 0;
}

/*
 * Sidebar
 */

/* Hide for mobile, show later */
.sidebar {
  display: none;
}
@media (min-width: 768px) {
  .sidebar {
    position: fixed;
    top: 78px;
    bottom: 0;
    left: 0;
    z-index: 99;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
  }
}

/* Sidebar navigation */
.nav-sidebar {
  margin-right: -21px; /* 20px padding + 1px border */
  margin-bottom: 20px;
  margin-left: -20px;
}
.nav-sidebar > li > a, .nav-sidebar > li > span, .nav-sidebar > li > h4 {
  padding-right: 20px;
  padding-left: 20px;
}

.nav-sidebar > li > h4{

}
.sidebar{
  margin-top:-1em;
}




/*
 * Main content
 */

.main {
  padding: 20px;
}
@media (min-width: 768px) {
  .main {
    padding-right: 40px;
    padding-left: 40px;
  }
}
.main .page-header {
  margin-top: 0;
}




  

  .file_manager a:hover{
    text-decoration: none !important;
  }


    .admin_file_listing_toolbar{
      padding-top:10px;
    }


    .uploader_background_graphic{
      background-image:url("/img/download_symbol.png");
      width: 150px;
      height: 150px;
      margin: auto;
      background-repeat: no-repeat;
    }
    .upload_toolbar_link{
      margin-right:10px;
    }
    .admin_file_listing_view_button{
      text-align: center;
    }   


    .file_path {
      float:left;
      margin-left:1em;
    }
    .actions_spacer{
      margin-left:1em;
      margin-right:1em;
    }
    .admin_file_listing_toolbar h4, .admin_file_listing_toolbar h5, .admin_file_listing_toolbar h6 {
      display:inline;
      float: left;
      margin-top: 0px;
      margin-left: 1em;
    }

    .qq-upload-failed-text {
         display: none; 
    }





/*






@media (min-width: 768px) {
  .sidebar {
    position: fixed;
    top: 51px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: #f5f5f5;
    border-right: 1px solid #eee;
  }
}

.nav-sidebar > li > span{
  color:#999999;  
}
.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
  color: #fff;
  background-color: #428bca;
}
.file_manager a{
  color:#666666 !important;
}
.admin_file_listing_toolbar{
  background-color:#333333;
  box-shadow:0 5px 8px #AAAAAA;
}
.admin_file_listing_toolbar h5, .admin_file_listing_toolbar h6{
  color:#b92204;
}
.admin_file_listing_toolbar, .admin_file_listing_toolbar {
  color:#ffffff !important;
}   
.admin_file_listing_toolbar h4, .admin_file_listing_toolbar h5, .admin_file_listing_toolbar h6 {
  color: #ffffff;
}

*/



