body {
	margin: 0;
/*	font: 70% Arial, Helvetica, sans-serif;*/
	color: #555;
	text-align: left;
}
h1 {
	font-size: 140%;
	margin: 0 20px;
	line-height: 80px;
}
#container {
	width: 400px;
	background: #fff;
	padding-bottom: 20px;
	margin-top: 0;
	margin-right: auto;
	margin-bottom: 0;
	margin-left: auto;
	border: 1px solid #000000;
}
#content {
	margin: 0 20px;
}
p {
	margin: 0 0;
	width: 680px;
	padding: 1em 0;
}


#sitemap, #sitemap ul, #sitemap li {
	margin: 0;
	padding: 0;
	list-style: none;
	padding-top:.5em;
	padding-bottom:.5em;	
}
#sitemap {
}
/*#sitemap ul {
	display: none;
}*/
#sitemap li {
	line-height: 200%;
	margin-top: 1px;
	background: #eee;
	position: relative;
	width: 100%;
}

* html #sitemap li {
	float: left;
	display: inline;
}

#sitemap li a {
	padding-left: 28px;
}
#sitemap li span {
	float: left;
	position: absolute;
	top: 15px;
	left: 8px;
	width: 14px;
	height: 14px;
	cursor: auto;
	font-size: 0;
}
#sitemap li span, #sitemap li span.collapsed {
	background: url(/img/collapsed.gif) no-repeat 0 0;
}
#sitemap li span.expanded {
	background: url(/img/expanded.gif) no-repeat 0 0;
}

#sitemap li li {
	background: #fff;
}
#sitemap li li a {
	padding-left: 56px;
}
#sitemap li li span {
	left: 28px;
}

#sitemap li li li a {
	padding-left: 84px;
}
#sitemap li li li span {
	left: 56px;
}


.color_lt_grey {
	color: #999999;
}
.link{
	margin-right:1em;
}
	
.icon {
	width:14px;
	height:14px;
	display:block;
}

.iconset{
	width:16px;	
	padding-left:1px;
}


.relocation_arrows{
	padding:2px !important;
}
