/* desktop */
@media (min-width:768px) {
	.small{
		display:inline;
	}
	.med{
		display:none;
	}
}
/* tablet and phone */
@media (max-width:768px) {
	.condensed_landing_tout{
		float:none;
		clear:both;
		width:100% !important;
		margin:auto !important;

	}
	small{}
	.small{
		display:none;
	}
	.med{
		display:inline;
		padding-top:2em;
	}
}


@media (min-width:768px) and (max-width:979px) {
	#arrows_container{
	}
}





.clear, .clearfix{
    float:none;
    clear:both;
    height:1px;
 }
.row_0{
	background-color: #ececec;
}
.pagination li a{
	font-weight:bold;
}
.blog-footer{
	text-align:center;
}
#quiz_loader_gif{
	margin-top:4em;
	margin-bottom:4em;
}
#quiz_loader_gif img, #quiz_loader_gif h4{
	float:left;
}
#quiz_loader_gif img{
	margin-left:2em;
}
#quiz_loader_graphic{
	margin:auto;
	width:70px;
	text-align: center;
}
#quiz_container{}

.dropdown-menu ul, .dropdown li{
	list-style: none;
	padding-left: 0px;
	font-size:12px;
}
.treeNavDiv{margin-top:0px;}
.treeNav li{padding-left:0px;padding-right:0px;width:100% !important;}
.treeNav ul{margin-top:0px;margin-left:0px;}
.treeNavDiv > ul{margin-left:0px; padding-left:0px;}
.treeNav a{ color:#333333; }


#sidenav_content ul, #sidenav_content li{
	margin-left:0px !important; padding-left:0px !important;
}
#sidenav_content a{

}

#sidenav_content a, #sidenav_content  li a{
	font-size:12px;
}
.link{ padding:.25em; padding-left:.1em; padding-top:.10em;padding-bottom:.51m;}
.activediv_0,.activediv_1,.activediv_2{width:100%;}
.ul_level_1 .link,.ul_level_2 .link{border-bottom:none;}
.ul_level_1 .link{padding-left:1em;}
.ul_level_2 .link{padding-left:1em;}

.noliststyle{list-style:none !important;}

.closed{display:none;}



.breadcrumbs_nav a, .breadcrumbs_nav span{
	font-size:12px !important;
	color:#428bca !important;
	margin:5px;
}


.breadcrumbs_nav span{
	font-weight:bold;
}
.breadcrumbs_nav{
	padding-top:5px;
}



.rp{
	background-color: #ececec;
}

.sortable_piece{
	font-size: 18px;
	padding: 2px;
}

.sortable_piece:hover {

	background-color: #ececec;
}





.sortable_piece:hover {
	border: 1px solid #ececec;
	padding:3px;
}
.sortable_piece{

	margin:.1em;
	padding:4px;
	background-color: #ffffff;
	border-radius:4px 4px 4px 4px;
}
.sortable_piece.selected{
	background-color: #BD362F;
	color:#ffffff;
}




.hightlighted{border-left:1px solid #ff0000;}

#letter_cursor{position:absolute;display:none;}

.letter_moused_over{background:#DDD;}

.punctuation_btn{
	text-align:center;
}

.punctuation_btn_placed a{
	display:inline;

}

.punctuation_btn, .punctuation_btn_placed {
	display:inline-block;
}


.punctuation_icon{background:transparent url('/Quizmodules/img/punctuation_icons.png') no-repeat scroll;width:17px !important;height:17px !important;}


.hyphen{background-position:-436px 0;}
.highlighted_punctuation{color:#ff0000;}
.draggable{pointer-events:none;opacity:.85;}

.punctuation_btn_placed .punctuation_icon{
	margin: 0px !important;
	margin-left: 2px !important;
	margin-right: 2px !important;
}

.semicolon{background-position:-133px 0;}
.punctuation_btn_placed .semicolon{
	width: 4px !important;
	background-position:-140px -40px;
}

.period{background-position:0 0;}
.punctuation_btn_placed .period{
	width: 4px !important;
	background-position:-6px -34px;
}

.comma{background-position:-32px 0;}
.punctuation_btn_placed .comma{
	width: 6px !important;
	background-position:-38px -36px;
}


.singlequote{background-position:-64px 0;}
.punctuation_btn_placed .singlequote{
	width: 3px !important;
	background-position:-70px -40px;
}


.quote{background-position:-96px 0;}
.punctuation_btn_placed .quote{
	width: 7px !important;
	background-position:-102px -40px;
}


.colon{background-position:-166px 0;}
.punctuation_btn_placed .colon{
	width: 7px !important;
	background-position:-172px -40px;
}

.exclaimation{background-position:-200px 0;}
.punctuation_btn_placed .exclaimation{
	width: 3px !important;
	background-position:-207px -40px;
}




.left-paren{background-position:-234px 0;}
.punctuation_btn_placed .left-paren{
	width: 7px !important;
	background-position:-239px -40px;
}



.right-paren{background-position:-266px 0;}
.punctuation_btn_placed .right-paren{
	width: 7px !important;
	background-position:-272px -40px;
}


.left-qbracket{background-position:-301px 0;}
.punctuation_btn_placed .left-qbracket{
	width: 7px !important;
	background-position:-305px -40px;
}


.right-qbracket{background-position:-334px 0;}
.punctuation_btn_placed .right-qbracket{
	width: 7px !important;
	background-position:-340px -40px;
}



.left-bracket{background-position:-369px 0;}
.punctuation_btn_placed .left-bracket{
	width: 7px !important;
	background-position:-375px -40px;
}

.right-bracket{background-position:-402px 0;}
.punctuation_btn_placed .right-bracket{
	width: 7px !important;
	background-position:-407px -40px;
}
.hyphen{background-position:-436px 0;}
.punctuation_btn_placed .hyphen{
	width: 7px !important;
	background-position:-443px -40px;
}


.word-split_ span.selected{color:red;background-color:#FFFF00;}
.word-split_ span:hover{background-color:#efefe3;cursor:pointer;}


.table-striped tbody tr.highlight td { background-color: rgba(49,176,213,0.70); }





.sortable_piece {
	cursor:default;
	 -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}


.pagination > a, .pagination > span {
	position: relative;
	float: left;
	padding: 6px 12px;
	margin-left: -1px;
	line-height: 1.42857143;
	color: rgb(51, 122, 183);
	text-decoration: none;
	background-color: rgb(255, 255, 255);
	border: 1px solid rgb(221, 221, 221);
	border-image-source: initial;
	border-image-slice: initial;
	border-image-width: initial;
	border-image-outset: initial;
	border-image-repeat: initial;
}



.pagination > a:first-child, .pagination > span:first-child {
	margin-left: 0px;
	border-top-left-radius: 4px;
	border-bottom-left-radius: 4px;
}


.pagination>a:last-child, .pagination>span:last-child {
	border-top-right-radius: 4px;
	border-bottom-right-radius: 4px;
}


tr.selectedtr {
	color:#ffffff;
	background-color:#9e1d33;
}


.table-hover > tbody > tr.selectedtr:hover{
	color:#ffffff;
	background-color:#9e1d33;
}

.table-striped > tbody > tr.selectedtr:nth-child(2n+1) {
    background-color:#9e1d33;
}

.level_2 > td { padding-left:20px !important; }
.level_3 > td { padding-left:40px !important; }
.level_4 > td { padding-left:60px !important; }
.level_5 > td { padding-left:80px !important; }









		.ccontainer {
			width: 350px;
			height: 300px;
			position: relative;
			margin: 0 auto 40px;
			-webkit-perspective: 1100px;
			-moz-perspective: 1100px;
			-o-perspective: 1100px;
			perspective: 1100px;
		}
		#carousel {
			width: 100%;
			height: 100%;
			position: absolute;
			-webkit-transform-style: preserve-3d;
			-moz-transform-style: preserve-3d;
			-o-transform-style: preserve-3d;
			transform-style: preserve-3d;
		}
		.ready #carousel {
			-webkit-transition: -webkit-transform .75s;
			-moz-transition: -moz-transform .75s;
			-o-transition: -o-transform .75s;
			transition: transform .75s;
		}
		#carousel.panels-backface-invisible figure {
			-webkit-backface-visibility: hidden;
			-moz-backface-visibility: hidden;
			-o-backface-visibility: hidden;
			backface-visibility: hidden;
		}
		#carousel figure {
			display: block;
			position: absolute;
			display:none;
			width: 325px;
			height: 300px;
			left: 10px;
			top: 10px;
			font-weight: bold;
			color: white;
			text-align: center;
		}
		.ready #carousel figure {
			-webkit-transition: opacity .75s,-webkit-transform .75s;
			-moz-transition: opacity .75s,-moz-transform .75s;
			-o-transition: opacity .75s,-o-transform .75s;
			transition: opacity .75s,transform .75s;
		}
		.condensed_landing_tout{}
		figure {
			margin: 0;
		}
		figure a, figure a:hover{ color:#ffffff; text-decoration:none;}

		#arrows_container{
			position:absolute;
			margin-top:6em;
		}
		#arrows{
			margin-left:-100px;

		}

		#left_arrow,#right_arrow{
			height:100px;
			width:75px;
			background-image: url('/img/arrows.png');
			background-repeat: no-repeat;
			background-attachment: scroll;
			opacity:.75;
		}
		#left_arrow:hover ,#right_arrow:hover {
			opacity:.5;
		}
		#left_arrow{
			float:left;
		}
		#right_arrow{
			float:left;
			background-position: -75px 0px;
			margin-left:550px;
		}


		.navbar-inverse .navbar-inner {
			background-color: #560756;
			background-image: -moz-linear-gradient(top,#560756,#3C113C);
			background-image: -webkit-gradient(linear,0 0,0 100%,from(#560756),to(#3C113C));
			background-image: -webkit-linear-gradient(top,#560756,#3C113C);
			background-image: -o-linear-gradient(top,#560756,#3C113C);
			background-image: linear-gradient(to bottom,#560756,#3C113C);
			background-repeat: repeat-x;
			border-color: #3C113C;
			filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#560756',endColorstr='#3C113C',GradientType=0);
		}
		.navbar{
			margin-bottom: 0px;
		}

	.fullscreen-image img {
	  bottom: 0;
	  left: 0;
	  margin: auto;
	  min-height: 50%;
	  min-width: 50%;
	  position: absolute;
	  right: 0;
	  top: 0;
	}
	.fullscreen-image {
	  height: 200%;
	  left: -50%;
	  position: fixed;
	  top: -50%;
	  width: 200%;
	  z-index: -1;
	}

.navbar-default, .nav-collapse, .footer_underbar, .nav_underbar {
  height: 1px;
  width: 100%;
}
.nav_underbar_fixed {
  position:fixed;
  z-index:110;
}
.navbar-brand{
  padding-top:7px;
}


.admin_padding{
    padding-left: 15px;
    padding-right: 15px;
}

.carousel {
	height: auto;
	margin-bottom: 10px;
	margin-top:50px;
}

#footer, #footer a, #footer h5{
	color: #ffffff !important;
	font-weight: bold;
}

























		.flip-container {
			-webkit-perspective: 100000;
			-moz-perspective: 100000;
			-ms-perspective: 100000;
			perspective: 100000;

			-ms-transform: perspective(100000);
			-moz-transform: perspective(100000);
    		-moz-transform-style: preserve-3d;
    		-ms-transform-style: preserve-3d;
		}

			/*
			.flip-container:hover .flipper, .flip-container.hover .flipper, #flip-toggle.flip .flipper {
				-webkit-transform: rotateY(180deg);
				-moz-transform: rotateY(180deg);
				-ms-transform: rotateY(180deg);
				transform: rotateY(180deg);
				filter: FlipH;
    			-ms-filter: "FlipH";
			}
			*/

			/* START: Accommodating for IE */

		.flip-container.hover .back {
		    -webkit-transform: rotateY(0deg);
		    -moz-transform: rotateY(0deg);
		    -o-transform: rotateY(0deg);
		    -ms-transform: rotateY(0deg);
		    transform: rotateY(0deg);
		}

		.flip-container.hover .front {
		    -webkit-transform: rotateY(180deg);
		    -moz-transform: rotateY(180deg);
		    -o-transform: rotateY(180deg);
		    transform: rotateY(180deg);
		}

		/* END: Accommodating for IE */

		.flip-container, .front, .back {
			width: 100%;
			height: 427px;
		}

		.flipper {
			-webkit-transition: 0.6s;
			-webkit-transform-style: preserve-3d;
			-ms-transition: 0.6s;
			-moz-transition: 0.6s;
			-moz-transform: perspective(4000px);
			-moz-transform-style: preserve-3d;
			-ms-transform-style: preserve-3d;
			transition: 0.6s;
			transform-style: preserve-3d;
			position: relative;
		}

		.front, .back {
			-webkit-backface-visibility: hidden;
			-moz-backface-visibility: hidden;
			-ms-backface-visibility: hidden;
			backface-visibility: hidden;

		    -webkit-transition: 0.6s;
		    -webkit-transform-style: preserve-3d;
		    -webkit-transform: rotateY(0deg);

		    -moz-transition: 0.6s;
		    -moz-transform-style: preserve-3d;
		    -moz-transform: rotateY(0deg);

		    -o-transition: 0.6s;
		    -o-transform-style: preserve-3d;
		    -o-transform: rotateY(0deg);

		    -ms-transition: 0.6s;
		    -ms-transform-style: preserve-3d;
		    -ms-transform: rotateY(0deg);

		    transition: 0.6s;
		    transform-style: preserve-3d;
		    transform: rotateY(0deg);

			position: absolute;
			top: 0;
			left: 0;
		}

		.front {
			-webkit-transform: rotateY(0deg);
			-ms-transform: rotateY(0deg);
			z-index: 2;
		}

		.back {
			-webkit-transform: rotateY(-180deg);
		    -moz-transform: rotateY(-180deg);
		    -o-transform: rotateY(-180deg);
		    -ms-transform: rotateY(-180deg);
		    transform: rotateY(-180deg);
		}





#canvas-container canvas{ z-index:10 !important;}




.selector span.selected{color:red;background-color:#FFFF00;}



@media (min-width:768px){
  #navbar{
    float:right;
  }
}
td{
	padding:5px;
}
td label{
	padding-left:10px;
}


.messaging_container{
	padding:20px;
}


.forum_voter_arrows{
	width:16px;
	float:left;
	margin-top:5px;
}

.avatar {
	float:left;
	margin-left:20px;
	margin-top:-8px;
}

.arrow {
		background: url('/img/arrows_sprite.png') 0 0;
		width: 16px;
		height: 14px;
		float: left;
    margin-right: 7px;
		margin-left:3px;
}



.downvoted {
	background: url('/img/arrows_sprite.png') -21px 0px !important;
}
.upvoted {
	background: url('/img/arrows_sprite.png') 15px 0px !important;
}
.arrow.up {
		background: url('/img/arrows_sprite.png') 36px 0px;
}
.rank_number{
	padding-top:5px;
	padding-bottom:5px;
	text-align:center;
}

.forum_title_row h3, .forum_entry_field h3{
	margin-top:0px;
}
.forum_entry ul{
	margin-top:5px;
}
.row_links ul li, .row_links ul li{
	display:inline;
	margin-right:5px;
	font-size: 12px;
	color:#7f7f7f !important;
}
.forum_entry textarea{
	height:250px;
	width:100%;
}

.child_comment {
	margin-left:25px;
}

.forum_discussion_row{
	border-style: solid;
	border-left: #999999;
	border-right:none;
	border-bottom:none;
	border-top:none;
}

.forum_title_row {
	padding:0px;
	padding-top:15px;
	padding-left:15px;
	margin-bottom: 3px;
}


.forum_listing{
	margin-top:-20px;
}

.child_comment, .forum_entry_children{
	border-left: 1px solid #4e4e4e;
	padding-left:15px;

}


.forum_title_row h3{
	margin-bottom: 0px;
}

.forum_title_row {
	margin-bottom: 10px;
}
.comment_string_link{
	display:block;
}

.comment_username{
	font-weight:bold;
}
.submitted_by,.comment_username,.comment_date{
	display:inline;
}

.forum_discussion_row .row_links{
	margin-top: 7px;

}

.block{
	display:block;
}


.inline{
	display:inline;
}
.forum_text_entry_box{
	height:400px;
}

ul,li{
	list-style: none;
	padding: 0px;;
}



.comment_text_a {
	border-radius:5px 5px 5px 5px;
	border:1px solid #4e4e4e;
	padding:10px;
	margin-top:-5px;
}


.chevron_btn{
	float:right;
}



p, body {
	font-family: "Helvetica Neue","Helvetica","Arial","sans-serif";
	font-size: 14px;
	line-height: 1.4
  }

.dropdown-menu{
	max-height:800px;
	overflow-y:auto;
}



.dropdown-menu a{
	color:#333333;
	display:block; 
	border: #7f7f7f;
}

.chevron_btn a:hover {
	text-decoration: none;
}
.treenav_link a:hover {
	color:#ffffff; 
	background-color:#022f5a;
}



.dropdown-menu{
	padding: 0px;
}





#caption_holder p{
	color:#ffffff;

}

#activity_messaging {
	position:fixed;
	top:0;
	left:0;
}

.caption{
	position: absolute;
    margin-top: 400px;
    z-index: 4;
    margin-left: 120px;
}

a:hover{
	text-decoration: none;;
}

.chevron_btn{
	padding-left:10px;
}



.treeNavDiv li {
    
}
/* 
.level_1{
	padding: 10px 10px;
}
.level_2{
	padding: 10px 20px;
	margin-left:20px;
}
.tree_nav_nested_children{
	padding-left:10px; 
	width:100%;
} */
.tree_nav_nested_children a {
}
/* .nav > li > a:hover, .nav > li > a:focus { */
.chevron_btn:hover{
		text-decoration: none;
		background-color:#ffffff !important;
		color:#022f5a !important;
}
.treeNavDiv{margin-top:0px;}
.treeNav li{padding-left:0px;padding-right:0px;width:100% !important;}
.treeNav ul{margin-top:0px;margin-left:0px;}
.treeNavDiv > ul{margin-left:0px; padding-left:0px;}	
.treeNavDiv li {
	padding: 3px 10px;
}
.treeNavDiv a {padding-top: 10px; padding-bottom: 10px ; padding-left:7px; margin-left:10px}
.level_1{
	padding-left:20px !important;
}
.level_2{
	padding-left:20px !important;
}
