<?php $d = $data; ?>




<div class="hero-unit">
	




<?php
	// TOP MEDIA PLAYER
	$files = array($data['Forumentry']['outside_resource']);
	//  debug($data);
?> 
<div class = "media_dest" id = "row_media_dest_<?php echo $data['Forumentry']['id']; ?>" style = "width:100%" class = "" data-guid = "<?php echo $data['Forumentry']['id']; ?>" data-initial-file = "<?php echo $files[0]; ?>" ></div>            
	<div class = "audio_player tm_1_em" id = "audio_player_<?php echo $data['Forumentry']['id']; ?>">
		<?php echo $this->element('Userassets.user_area/audio_player/audio_player_ui',array('initial_file'=>$files[0],'guid'=>$data['Forumentry']['id'])); ?>
		<?php echo $this->element('Userassets.user_area/audio_player/audio_visualizer',array('initial_file'=>$files[0],'guid'=>$data['Forumentry']['id'])); ?>
	</div>
</div>



<a class = "file_uploader_btn btn btn-default tm_1_em" href="#<?php echo $data['Forumentry']['id']; ?>">swap File</a>





<!--  text input box-->
	<div class="col-sm-6">
	<h2>Edit Post Elements/admin_edit.ctp</h2>
	<p>
		need to add uploader here.
	</p>
		<?php echo $this->BootstrapForm->create('Forumentry', array('class' => ''));
				echo $this->BootstrapForm->hidden('id');
				echo $this->BootstrapForm->hidden('parent_id');
				// echo $this->BootstrapForm->hidden('course_id',array("value"=>$d['Course']['id']));
				echo $this->BootstrapForm->input('title',array("class"=>"col-sm-12 bm_1_em block"));
				echo $this->BootstrapForm->textarea('copy',array("class"=>"forum_text_entry_box col-sm-12 bm_1_em block"));
				echo $this->BootstrapForm->submit('Submit', array('action' => 'submit'));
				echo $this->BootstrapForm->end();
		?>
	</div>
</div>



 



<?php // echo $this->element('Forum.song_selection_ui/song_selection_inline_ui'); ?>