<div class = "comment_" id="comment_edit_div_<?php echo $d["id"]; ?>">
  <form action="" class="" id="comment_edit_form_<?php echo $d["id"]; ?>" method="post" accept-charset="utf-8">
    <textarea name="data[Forumentry][copy]" "comment_edit_textarea_<?php echo $d["id"]; ?>">
      <?php echo $copy; ?>
    </textarea>
    <div class="control-group">
      <button style = "margin:5px;" type="submit" class="btn pull-right" div="control-group" action="submit">Submit</button>
      <button style = "margin:5px;" class = "comment_edit_cancel_btn btn pull-right" href="#">Cancel</button>
    </div>
  </form>
</div>
