<div class = "row">
    <?php echo($this->element('user_area/file_browser/file_browser_audio_player'));  ?>        
</div>

<div class="clear tm_4_em">&nbsp;</div>			
<?php echo($this->element('user_area/file_browser/admin_file_listing'));  ?>        

