<td> 
	&nbsp;&nbsp;<?php echo $i ?>
</td>


<td style = "margin:4px; margin-bottom:4px;">
	<span class = "file_listing_index">
	<?php
		// left side listing.
		// you've had a problem with trailing slashes becoming double slashes upon string assembly.  if you continue to have issues, make a helper
		$dirhref = $root_uri.$target_directory.''.$value['item'];
		$assethref = $file_dir_root_absolute.$target_directory.''.$value['item'];
		if($type == "dir"){
			echo('</span> '.'&nbsp;<span class = "'.$icon.'" ></span>&nbsp; <span class = "file_listing_label">');					
			echo('<a class = "fb_ajax_link" href=\''.$dirhref.'\'>'.$value['item'].'</a>');
		} else {
			?>
				<a style = "font-size:14pt; margin-top:10px" href="#<?php echo $value['item'];?>" class="tracklist" >
					<?php echo $value['item'];?>
				</a>
			<?php
		}
	?>
	</span>
</td>



<td>
	<span class = "file_listing_index">
	<?php
		// left side listing.
		// you've had a problem with trailing slashes becoming double slashes upon string assembly.  if you continue to have issues, make a helper
			///echo('hi<a href = "'.$assethref.'" target = "_blank">'.$value['item'].'</a>');							
			?>
			<ul style="list-style:none; padding:0; margin-bottom:0;">
				<li class="dropdown" style = "text-align:right">
				<?php 		//		echo('</span> '.'&nbsp;<span class = "'.$icon.'" ></span>&nbsp; <span class = "file_listing_label">'); ?>
				<a href="#" class="dropdown-toggle btn btn-default" style = "text-align:center" data-toggle="dropdown">
					<span class = "glyphicon glyphicon-plus-sign"></span>
				</a>
					<ul class="dropdown-menu " role="menu" style="text-decoration:none;">	           
						<li>	
							<a target="_blank" href="<?php echo $assethref ?>" >View</a>
						</li>			                	
						<li>	
							<a href="/downloads<?php echo $assethref ?>">Download</a>
						</li>			                	
	
                        <li>	
							<a data-target="#myModal" role="button" data-toggle="modal" href="/my/userassets/move_file/<?php echo $assethref ?>" >Move</a>
						</li>				                    			                    
    
                        <li role="presentation" class="divider"></li>			                   			                   								
                        <li>	
                            <a onclick="return confirm('Are you sure you want to delete \&quot;<?php echo $value['item']; ?>\&quot;?');" class="" href="/my/userassets/delete/<?php echo $target_directory.''.$value['item']; ?>" >
                                Delete File
                            </a>				
						</li>		    	
					</ul>
				</li>
			</ul>
	</span>
</td>












