<div class="tm_5_em">

    <h4>Workshop</h4>

    <div style="padding-left:15px">
        <h5 class="">
            <a target="_blank" href="/my/stub/album_page">    
                Albums
            </a>
        </h5>
        
        <div style="padding-left:15px">
            <h5 class=""><a target="_blank" href="/my/stub/song_discussion">UncleFuckers Lament</a></h5>
            <h5><a href="/my/stub/collaboration_page">Oh how it burns</a></h5>
            <h5><a href="/my/stub/collaboration_page">Neccessary Tresspass</a></h5>
        </div>


        <h5 class="">Song Workshop</h5>
    
    
    </div>
    
    <h4><a target="_blank" href="/my/userassets">Files</a></h4>


</div>