<div class="centered">
    <img style="width:100%; border-radius:50%" src="/users/be0fbff5ded65f6524a26955bb72965cb6823249/public/images/user_icons/user_icon.webp">
    <a href="/my/dashboard">
        <h4>Jon</h4>
        <h6>Jon Andress</h6>
    </a>
</div>        
