

<div class="">
	<a class="" href="/my/forum/">
        <h2 class=" col-sm-4">
            Discussions 
        </h2>
    </a>
	<span class=" pull-right">

			<a style = "" class="btn tm_10_px btn-primary" href="/my/forum/add/">New</a>

	</span>
</div>
<div class= " clear clearfix tm_2_em bm_2_em">&nbsp;</div>


<?php $this->Community->printList( $list,$this, $row_element); ?>


