<div class = "container">
    


        <div class="list-group">
            <H4>Caged Exercises</h4>
            <?php foreach ($cagedActivities as $key => $value): ?>
                <a href="/my/caged/view/<?php echo($value['CagedActivity']['id']); ?>" target = "_blank"  class="list-group-item">
                    <?php echo($value['CagedActivity']['name']); ?>
                </a>	
            <?php endforeach ?>


        
        
        </div>








</div>