  body, html{}

  .container-fluid{
      margin:0px;
      padding:0px;
  }
  /* background-color: #171717; */
  .guitar{}

  .guitar_img{
      width:100%;
  }
  .guitar_container{
      border-color: #1771bd;
      z-index:-10;
  }
  .neck{
      left:565px;
      top:410px;
  }
  .string{
    margin-left:40px;
  }
  .neck_buttons, .string{ 
      height:25px;
      width:100%;
      margin-bottom:5px;
  }
  .note { 
    width:25px;
    height: 25px;
    border-style: solid;
    border-width: 1px;
    border-color: #000000;
    background-color: #ffffff;
    border-radius: 20px;
    text-align:center;
  }
  form label{
      color:#ffffff;
      font-weight:bold;
      display:inline-block;
  }
  .neck_btn{
      position:absolute;
      border-width: 1px;
      border-color: #00ff00;
      background-color: #666666;
      border-radius: 20px;
      text-align:center;
      width:20px;
  }
  .neck a, #neck a{
      color:#ffffff;
  }
  .red {
      background-color:#ff0000 !important;
  }
  .red_orange {
      background-color:#ff4800 !important;
  }
  .orange {
      background-color:#ff7700 !important;
  }
  .yellow_orange {
      background-color:#ffab00 !important;
  }
  .yellow {
      background-color:#fff800 !important;
  }
  .yellow_green {
      background-color:#cefc07 !important;
  }
  .green {
      background-color:#3bab2d !important;
  }
  .blue-green {
      background-color:#00d193 !important;
  }
  .blue {
      background-color:#1771bd !important;
  }
  .blue_text {
      color:#1771bd !important;
  }
  .yellow_text {
      color:#fff800 !important;
  }
  .green_text {
      color:#3bab2d !important;
  }
  .purple{
      background-color:#6718c6 !important;
  }
  .violet{
      background-color:#9226e3 !important;
  }
  .magenta{
      background-color:#ff0090 !important;
  }
  .not_shown{
      opacity:100;
      cursor: default !important;
  }
  
  .note{
      cursor: pointer;
  }

  #pause_icon{}
  #play_icon{}
  .interval_dropdown {}
  #interval_dropdown .dropdown-menu{
      max-height: 200px;
      overflow: auto;
  }
  #controlls{
      z-index: 100;
      height: 40px;
      background-color: #333333;
      height: 40px;
      color:#ececec;
      padding:5px;
      padding-left:10px;
      padding-right:10px;
      margin: auto;
  }

  #controlls .pull-right{
      margin-left:3px;
      margin-right:3px;
  }
  .slideshow_container_padding {
      height: 100%;
      padding: 10px;
      padding-right: 40px;
      padding-left: 40px;
  }
  
  .dropdown-submenu {
    position: relative;
  }
  .dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px;
    border-radius: 0 6px 6px 6px;
  }
  
  .dropdown-submenu:hover>.dropdown-menu {
    display: block;
  }
  
  .dropdown-submenu>a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #ccc;
    margin-top: 5px;
    margin-right: -10px;
  }
  
  .dropdown-submenu:hover>a:after {
    border-left-color: #fff;
  }
  
  .dropdown-submenu.pull-left {
    float: none;
  }
  
  .dropdown-submenu.pull-left>.dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
  }
  
  #undernav_drawer{
      position:fixed; z-index:100; top:15px; height:40px;
      background-color:#333333;
  }
  /* #caption_holder{
      position:absolute;
  
      top:240px;
      z-index:400;
      margin-left:120px;
  }
  #caption_holder h1{
      color:#ececec;
  } */

  .fret_position_0{
    left:0px
  }
  .fret_position_1{
    left:65px
  }
  .fret_position_2{
    left:170px
  }
  .fret_position_3{
    left:270px
  }
  .fret_position_4{
    left:360px
  }
  .fret_position_5{
    left:447px
  }
  .fret_position_6{
    left:530px
  }
  .fret_position_7{
    left:609px
  }
  .fret_position_8{
    left:682px
  }
  .fret_position_9{
    left:750px
  }
  .fret_position_10{
    left:813px
  }
  .fret_position_11{
    left:875px
  }
  .fret_position_12{
    left:933px
  }
  .fret_position_13{
    left:985px
  }
  .fret_position_14{
    left:1036px
  }
  .fret_position_15{
    left:1084px
  }
  .fret_position_16{
    left:1128px
  }
  .fret_position_17{
    left:1168px
  }
  .fret_position_18{
    left:1204px
  }
  .fret_position_19{
    left:1240px
  }
  .fret_position_20{
    left:1273px
  }
  .fret_position_21{
    left:1305px
  }
  .guitar_img {
    height: 1000px;
    width: auto;
  }
  .neck {
  height: 176px;
  position: absolute;
  left: 565px;
  top: 410px;
  }
  /* #caption_holder {
    position: absolute;
    top: 240px;
    z-index: 400;
    margin-left: 120px;
  } */
  ul, li{
    text-decoration: none;
    list-style: none;
  }

  .guitar_container {
    position: absolute;
    top: -100px;
    margin-left: -500px;
    z-index: -10;
}



#bottom_drawer{
  display: none;
  position:fixed;
  width:100%;
  background-color: #ececec;
  bottom:0px;
  height:300px;
}