body, html{
  background-color: #171717;
}
.container{
  margin:0px;
  padding:0px;
}
.neck a{
  color:#ffffff;
}
.guitar{
  width:1249px;
}
.guitar_container_container{
  margin-top: -650px;;
  width:1249px;  
  border-color: #1771bd;
  margin-left: auto;
  margin-right: auto;
}
.guitar_container{
  margin-left:625px;            
}
.guitar_img{
  width:1249px;
  position: absolute;
  margin-left:-625px; 
  z-index: -10;;
}

.vert_neck_container {
  width:100%;
}
.neck{
  position:absolute;  
  margin-left:-130px;
  margin-top:690px;
  border-color: #00ff00;
}


.neck_buttons, .string{ 
  width:25px;
  height:100%;
  margin-bottom:5px;

  float:right;
}
.neck_buttons{
  margin-right: -4px;
}
.string{ 
  margin-left: 10.35px;
}


.string{
  display:block;
  border-color: #00ff00;
}


.neck_btn{
  position:absolute;
  border-width: 1px;
  border-color: #00ff00;
  background-color: #666666;
  border-radius: 20px;
  text-align:center;
  width:20px;
}


.note { 
    width:25px;
    height:25px;
    border-style: solid;
    border-width: 1px;
    border-color: #000000;
    background-color: #ffffff;
    border-radius: 20px;
    text-align:center;
    position:absolute;
}


#caption_holder {
  left:0px;
  z-index: 400;
  margin-left: 20px;
  margin-top:7px;
}







#caption_holder h1, #caption_holder h2{
  font-size: 24px;
}






.fret_position_0{
  top:0px
}
.fret_position_1{
  top:60px
}
.fret_position_2{
  top:150px;
}
.fret_position_3{
  top:223px;
}
.fret_position_4{
  top:300px;
}
.fret_position_5{
  top:375px;
}
.fret_position_6{
  top:455px;
}
.fret_position_7{
  top:530px;
}
.fret_position_8{
  top:610px;
}
.fret_position_9{
  top:684px;
}
.fret_position_10{
  top:763px;
}
.fret_position_11{
  top:836px;
}
.fret_position_12{
  top:911px;
}
.fret_position_13{
  top:972px;
}
.fret_position_14{
  top:1037px;
}
.fret_position_15{
  top:1097px;
}
.fret_position_16{
  top:1150px;
}
.fret_position_17{
  top:1200px;
}
.fret_position_18{
  top:1248px;
}
.fret_position_19{
  top:1292px;
}
.fret_position_20{
  top:1333px;
}
.fret_position_21{
  top:1373px;
}

.red {
  background-color:#ff0000 !important;
}
.red_orange {
  background-color:#ff4800 !important;
}
.orange {
  background-color:#ff7700 !important;
}
.yellow_orange {
  background-color:#ffab00 !important;
}
.yellow {
  background-color:#fff800 !important;
}
.yellow_green {
  background-color:#cefc07 !important;
}
.green {
  background-color:#3bab2d !important;
}
.blue-green {
  background-color:#00d193 !important;
}
.blue {
  background-color:#1771bd !important;
}
.blue_text {
  color:#1771bd !important;
}
.yellow_text {
  color:#fff800 !important;
}
.green_text {
  color:#3bab2d !important;
}
.purple{
  background-color:#6718c6 !important;
}
.violet{
  background-color:#9226e3 !important;
}
.magenta{
  background-color:#ff0090 !important;
}

.note{
  cursor: pointer;
}