.guitar {}





.container-fluid {
    margin: 0px;
    padding: 0px;
}

.neck_buttons,
.string {
    height: 25px;
    width: 100%;
    margin-bottom: 5px;
}






.note {
    width: 25px;
    height: 25px;
    border-style: solid;
    border-width: 1px;
    border-color: #000000;
    position: absolute;
    background-color: #ffffff;
    border-radius: 20px;
    text-align: center;
    font-weight:600;

}


.note_highlight {
    z-index:1;
    position: absolute;
    width: 25px;
    height: 25px;
    border-style: solid;
    border-width: 1px;
    border-color: #666666;
    /* background: radial-gradient(circle, #ff0000 0%, #0f151b 100%); */
    border-radius: 20px;
    text-align: center;
  }



  .note_text {
    position: absolute;
    z-index:10;
    text-align: center;
    color:#000000;
    font-weight:bold;
    width:100%;
  }



  
  .textFade {
    -webkit-animation-name: colorFade;
    animation-name: colorFade;
    -webkit-animation-duration: 4s;
    animation-duration: 4s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
  }

  @-webkit-keyframes colorFade {
    0% {color: #ffffff;}
    100% {color: #ffffff;}
  }

  @keyframes colorFade {
    0% {color: #ffffff;}
    100% {color: #ffffff;}
  } 




  .fadeOut {
    -webkit-animation-name: fadeOut;
    animation-name: fadeOut;
    -webkit-animation-duration: .75s;
    animation-duration: .75s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
  }

  
  .f_25s{
    -webkit-animation-duration: .25s;
    animation-duration: .25s;
  }
  .f_5s{
    -webkit-animation-duration: .5s;
    animation-duration: .5s;
  }
  .f_75s{
    -webkit-animation-duration: .75s;
    animation-duration: .75s;
  }
  
  .f1s{
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
  }
  
  .f2s{
    -webkit-animation-duration: 5s;
    animation-duration: 5s;
  }


  .f5s{
    -webkit-animation-duration: 5s;
    animation-duration: 5s;
  }
  .f10s{
    -webkit-animation-duration: 10s;
    animation-duration: 10s;
  }
  .f20s{
    -webkit-animation-duration: 20s;
    animation-duration: 20s;
  }

  @-webkit-keyframes fadeOut {
    0% {opacity: 1;}
    100% {opacity: 0;}
  }
  @keyframes fadeOut {
    0% {opacity: 1;}
    100% {opacity: 0;}
  } 










form label {
    color: #ffffff;
    font-weight: bold;
    display: inline-block;
}

.neck_btn {
    position: absolute;
    border-width: 1px;
    border-color: #00ff00;
    background-color: #666666;
    border-radius: 20px;
    text-align: center;
    width: 20px;
}

.neck_btn  {
    color: #ffffff;
}

.dropdown-submenu {
    position: relative;
}

.dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px;
    border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover>.dropdown-menu {
    display: block;
}

.dropdown-submenu>a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #ccc;
    margin-top: 5px;
    margin-right: -10px;
}

.dropdown-submenu:hover>a:after {
    border-left-color: #fff;
}

.dropdown-submenu.pull-left {
    float: none;
}

.dropdown-submenu.pull-left>.dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
}





.red {
    background-color: #ff0000 !important;
}

.red_orange {
    background-color: #ff4800 !important;
}

.orange {
    background-color: #ff7700 !important;
}

.yellow_orange {
    background-color: #ffab00 !important;
}

.yellow {
    background-color: #fff800 !important;
}

.yellow-green {
    background-color: #9dd50f !important;
}

.green {
    background-color: #3bab2d !important;
}

.blue-green {
    background-color: #17a7bd !important;
}

.blue {
    background-color: #1771bd !important;
}

.blue_text {
    color: #1771bd !important;
}

.yellow_text {
    color: #fff800 !important;
}

.green_text {
    color: #3bab2d !important;
}

.purple {
    background-color: #6718c6 !important;
}

.violet {
    background-color: #9226e3 !important;
}

.magenta {
    background-color: #ff0090 !important;
}


.not_shown {
    opacity: 0;
    cursor: default !important;
}

.reduced {
    background-color: #5e5e5e;
    color: #000000;
}



.note {
    cursor: pointer;
}

#controlls {
    z-index: 100;
    height: 40px;
    background-color: #333333;
    height: 40px;
    color: #ececec;


    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    margin: auto;
}

#controlls .pull-right {
    margin-left: 3px;
    margin-right: 3px;
}

/* h1,
h2 {
    display: inline;
    color: #ffffff;
} */

#pause_icon {}

#play_icon {}

.interval_dropdown {}

#interval_dropdown .dropdown-menu {
    max-height: 200px;
    overflow: auto;
}

.comparison_view .note_graphic {
    width: 25px !important;
    height: 25px !important;
}

#slideshow_container {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.slideshow_container_padding {
    height: 100%;
    padding: 10px;
    padding-right: 40px;
    padding-left: 40px;
}


.note_graphic{
    border-style: solid;
    border-width: 1px;
    border-color: #000000;
    background-color: #ffffff;
    border-radius: 20px;
    position: absolute;
    width:25px;
    height: 25px;
  }
  .note{
    cursor: pointer;
  }
  .not_shown{
    display: none;
    opacity:100%;
  }



