<a href = "/my/landingpages/tiers/add/<?php echo $landing_page_id ?>" class = "btn btn-sm btn-default pull-right" >
	<span class="glyphicon glyphicon-plus" aria-hidden="true"></span>&nbsp;New Content Tier
</a>
