<a class ='btn btn-sm btn-default pull-right' href="/my/landingpages/touts/add/<?php echo $this->data['Landingtier']['id']; ?>/" >
	<span class="glyphicon glyphicon-plus" aria-hidden="true"></span>&nbsp;New Tout
</a>

