<?php echo $this->Html->script('Landingpages.landing_page_edit'); ?>
<?php $lpId = empty($this->data['Landingpage']['id']) ? '' : $this->data['Landingpage']['id'];  ?>
<div class="white_well">
	<h3>Tout Management</h3>
</div>
<div id="landing_tout_table" class="white_well">
	<?php
		if (!empty($this->data['Landingtout'])): 
			foreach ($this->data['Landingtout'] as $key => $tout) {
				//echo $this->element('Quizmodules.Multichoice/edit_answer_table_row',array('answer'=>$answer,'key'=>$key));							
				
				//debug($tout.'  '.$key);
				echo $this->element('tout_edit',array('tout'=>$tout,'key'=>$key));			
			}
	 	else:
				//echo $this->element('tout_edit');				
		endif;
	?>
</div>
<div class="white_well">
	<a onclick="addRow()" class="btn pull-right">
		<i class="icon-plus"></i>
		&nbsp;Add
	</a>
	<div class = "clearfix">&nbsp;</div>
</div>

<script type="text/javascript">
	function addRow() {
		lp_editor.addRow('/my/landingpages/toutrow/'+($('.landing_tout_row').length)+'/'+<?php echo $landingpage_id ?>);
	};
</script>
<?php echo $this->BootstrapForm->submit(__('Submit'),array('class'=>'btn pull-right'));?>
<div class = "clearfix">&nbsp;</div>