<?php echo $this->Html->script('Landingpages.landing_page_edit'); ?>
<?php $lpId = empty($this->data['Landingpage']['id']) ? '' : $this->data['Landingpage']['id'];  ?>
<div class="white_well">
	<div class="span6">
		<h4>Submit to edit touts on the Edit Screen</h4>		
	</div>
	<?php echo $this->BootstrapForm->submit(__('Submit'),array('class'=>'btn pull-right'));?>		
	<div class = "clearfix tm_1_em" style="height:14px;">&nbsp;</div>
</div>
