

<h2>Tout Table</h2>
<a href="/my/landingpages/content/tout/add/1/touttype" class = "btn btn-sm btn-default pull-right" target="_blank"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span>&nbsp;New Tout</a>
<div class = "clear"></div>	
<table class="table table-striped table-bordered table-hover">
		<tbody>
			<tr>
				<th class="span1" style="text-align:center">id</th>
				<th class="span4"><a href="/my/landingpages/sort:title/direction:asc">Title</a></th>
				<th class="span1"><a href="/my/landingpages/sort:layout/direction:asc">Tier Type</a></th>
				<th class="actions span3" style="text-align:center">Actions</th>
				
			</tr>
			<?php for($i=0; $i <5; $i++): ?>
				<tr>

					<td style="text-align:center">
						1&nbsp;

					</td>
					<td>
						Welcome To OWL!
						&nbsp;
					</td>
					<td>
					
						&nbsp;
					</td>

					<td class="actions" style="text-align:center">
						<ul style="list-style:none; padding:0">
			            <li class="dropdown">
			              <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="true">
			              	Actions
			              </a>
			                <ul class="dropdown-menu  dropdown-menu-right" role="menu" style="text-decoration:none;">
			                    <li>	
								<a href="/my/landingpages/view/1" target="_blank">View</a>
			                    </li>
								<li>	
									<a class="ajax_link" href="/my/landingpages/edit/1">Edit</a>
			                    </li>
								<li>	
									<input type="hidden" name="_method" value="POST"><a href="#" onclick="if (confirm(&quot;Are you sure you want to delete # 1?&quot;)) { document.post_54835746003b2305379106.submit(); } event.returnValue = false; return false;">Delete</a>	                    </li>
			                </ul>
			            </li>
			          </ul>	
					</td>



				</tr>					
			<?php endfor; ?>

		</tbody>
</table>