	<div class="white_well">
		<div class="name" style="width:100%; overflow-x:hidden;">
			<div class="videobox" id = "videobox">
				<?php echo $post['Post']['media_file']; ?> will play in a flash player here. 				
			</div>	                              
		</div>                                    
		<?php echo $this->Js->buffer('
			var flashVars = {
			
			}
		  	swfobject.embedSWF("/media/flash/'.$post["Post"]["media_file"].'?nc="+Math.random(), "videobox", "100%","580px", "10.0", "/flash/expressInstall.swf",flashVars);
		'); ?>
	</div>	
