<div class="container-fluid">		
	<div class = "admin_file_listing_toolbar" style = 'z-index:10'>
			<div class = "upload_toolbar_link btn-group bm_1_em pull-right" >
					<a class = 'btn btn-sm btn-default fb_ajax_link' href = '<?php echo $root_uri.''.$target_directory; ?>' >
						<span class = "glyphicon glyphicon-remove" ></span>
					</a>
				</div>				
		
	</div>


	<div class = "clearfix">&nbsp;</div>
	<div class="well">
		<div class="centered">
			<?php echo $this->BootstrapForm->create('dir'); ?>
			<?php echo $this->BootstrapForm->input('name',array('label'=>'New subdirectory name:')); ?>		
			<?php echo $this->Form->submit('submit',array('class'=>'btn tm_1_em')); ?>		
			<?php echo $this->BootstrapForm->end(); ?>		
		</div>
	</div>



</div>