<div class = "container">
    <?php echo $this->element('nav/intervals_exercise_nav'); ?>   
    <div class = "col-sm-8" >
    <h1>Interval Quiz Engine</h1>
            Press the Foo button.  A sequence of a given scale (or the chromatic scale) will play.   Then it will replay a single note.    Try and identify what note it was.    
            <br/>Going forward, play the various ear training apps.   See how to structure the lessons.   Is playing in scales useful?   Maybe playing 2 tones together is useful.   
    </div>
    <div class = "col-sm-4">
    <?php echo $this->element('fpo/fpo_local_menu'); ?>   
    </div>


</div>


