
<?php echo $this->element('nav/intervals_Controls'); ?>    
<div class = "clear clearfix">&nbsp;</div>
<div class = "tm_3_em">

        <div class = "col-sm-6 " >
            <div class ="clear clearfix" >&nbsp;</div>
            <?php //echo $this->element('dev_menu'); ?>    
            <div class = "clear clearfix">&nbsp;</div>
            <h1 >Chord Strumming & Interval Training engine</h1>
            <h3>Perfect Consonants <small>Level 1</small></h3>
            <h4>Minor Second <small>Sharp Dissonance, half tone or semitone</small></h4>
            <h4>Major Second <small>Soft Dissonance, whole step or whole tone</small></h4>
            <p>
                <h4>Ok, todos:</h4>
                <ul>
                    <li>
                        As you go and fill out content, make sure you ensure that the $content_for_layout s all work well in both Horizontal_split and vert_split layouts.  
                    </li>
                    <li>
                        on the crawler. You need to rewrite it so that it can be interrupted mid crawl and unpaused at a different speed or fretboard location. .  this could be difficult. 
                    </li>
                    <li>
                        Consider the function of playable guitar and what its ramifications are for scaling functionality.   you cant put all the functions in this one place.   Interitance could be unweildy.  
                    </li>
                    <li>
                        On Intervals.   It should be choose a base note.   then the type of interval.   study that YT 1 hour interval training video.
                    </li>
                    <li>
                        Create an index stub with links to all in process modules. 
                    </li>
                    <li>
                        CAGED exercise.  create a class where you choose the caged positions and then it generates paths between the 2.    experiment with having it use different intervals within the scale.  
                        add a skip / regenerate button to create new ones.   
                    </li>
                </ul>
            </p>
            <hr>
            <?php  debug($here ); ?>

                <?php echo $this->element('fpo/fpo_local_menu'); ?>  

        </div>


        <div class = "col-sm-6 ">
            
        </div> 




</div>