


<div class = " container">
        <?php echo $this->element('nav/intervals_Controls'); ?>    
        <div class = "clear clearfix tm_6_em">&nbsp;</div>
        <div class = "col-sm-8 " >
        <h1>Interval Activity</h1>
        <?php  debug($here ); ?>
        </div>
        <div class = "col-sm-4"  >
            <?php echo $this->element('fpo/fpo_local_menu'); ?>  
        </div> 
</div>


