<span class="file_listing_index">
				<ul style="list-style:none; padding:0; margin-bottom:0; display:inline">
				<li class="dropdown" style="">
				    <a href="#" class="dropdown-toggle" style="text-align:center" data-toggle="dropdown" aria-expanded="false">
                    Actions
				</a>
					<ul class="dropdown-menu " role="menu" style="text-decoration:none;">	           
	
                        <li>	
							<a data-target="#myModal" role="button" data-toggle="modal" href="" class = "post_edit_btn">
                                Edit
                            </a>
							<a class = "file_uploader_btn" data-target="#myModal" role="button" data-toggle="modal" href="<?php echo $id; ?>"  >
                                Upload File
                            </a>
                            <a data-target="#myModal" role="button" data-toggle="modal" href="<?php echo $id; ?>" >
                                Choose from your files on Sonosphere. 
                            </a>
						</li>				                    			                    
    
    	
					</ul>
				</li>
			</ul>
	</span>



	

