<div>
	<div class = "admin_padding">

			<div id="quiz_ajax_content">
				<?php echo $this->element('Quizmodules.quizzes/quiz_common_start_screen'); ?>
			</div>
			<script src="/PagekwikTools/js/ajax_slider.js"></script>    

			<script type="text/javascript">
			        var fb_ajax_helper = ajax_slider();
			        fb_ajax_helper.init("#quiz_ajax_content",'.quiz_ajax_link');     
			</script>
			<script type="text/javascript" charset="utf-8" src = '/Quizmodules/js/quiz.js' ></script>			
			<script type="text/javascript">
				var g = [<?php echo $id_array; ?>];
				quiz.setQuizSlides(g);
			</script>
	</div>
</div>