<?php echo $this->BootstrapForm->input('Post.media_format',array('options'=>$formatListing)); ?>
<div class = "clear bm_1_em"></div>
<div id="ajax_file">
	<?php echo $this->element('ajax/admin_files'); ?>
</div>


<?php echo $this->Js->buffer($this->element('ajax/admin_layout_js')); ?>