<div class="row-fluid">
		<div class="navbar-inverse ">
			<h1>
				New Slide for quiz:
			</h1>
			<h2><em>
					<?php //echo $quiz['name']; ?>
					
				</em>
			</h2>
		</div>
		<div class="admin_subsub"> 
			<div class="admin_padding tm_10_px bm_12_px">
				<?php echo $this->Breadcrumbs->breadcrumbs($breadcrumbs); ?>
			</div>
		</div>
		<div class="admin_padding ">		
		<?php 
				echo $this->element('Quiztextslide/edit_fields');
		 ?>

		</div>
</div>



