<div class="messaging_container">
	<h1>Messages</h1>
	<?php echo($this->element('messaging_top_nav')); ?>
	<div id="ajax_container_2" class = "messaging">
		<?php echo($this->element('message_table')); ?>
	</div>
</div>
  
