<div id="messaging_container" class="">
	<?php echo($this->element('messaging_top_nav')); ?>
	<div class="well">
		<div class="white_well">
			<h1>Your Message Has Been Sent</h1>
			<div class = "clearfix">&nbsp;</div>
		</div>
	</div>
</div>
