<div class="container-fluid tm_1_em">
    name<br/>
    Landingpage_id<br/>
    avatar_id<br/>
    create navlink_id;<br/>
    </p>


<div class="well">
  <h3>Remember the focus is, to create content within the nav structure.<h3>
    Steps:
    <ul>
        <li>Create a nav link for this course under this courses navlink. </li>
    </ul>


  <p>On saving from this, you should create a navlink that has the parent_id of X,
  Then you redirect to the Course Dashboard. which should be empty.  From there you should hit the "add content" button </p>

</div>
    <?php
        // debug($landingpage_options);
        echo $this->Bootstrapform->create('Course', array( 'class' => 'form-horizontal' ));
        echo $this->Bootstrapform->input('name', array( 'class' => 'required'  ));
        echo $this->Bootstrapform->input('Landingpage',$landingpage_options);
        echo $this->Bootstrapform->input('Avatar',$avatar_options);
        // echo $this->Bootstrapform->input( 'Navlink' );
        echo $this->Bootstrapform->submit('Submit',array('class'=>"tm_2_em btn btn-default "));
        echo $this->Bootstrapform->end();
    ?>
</div>
