<div class="container-fluid tm_1_em">


          <div class="col-sm-12">

            <h3 style="width:50%; display:inline">
            Practice Session
            </h3>
          </div>

          <div class="tm_1_em col-sm-12">
            <div class="clear clearfix">&nbsp;</div>
            <div class="list-group">

            <a href="/my/activities/chords" target="_blank" class="list-group-item">Chords</a>        
            <a href="/my/activities/intervals/exercise" target="_blank" class="list-group-item">Intervals Quiz</a>
            <a href="/my/activities/intervals/exercise" target="_blank" class="list-group-item">Intervals Activity</a>    
            <a href="/my/activities/routing" target="_blank" class="list-group-item">CAGED</a>
            <a href="/my/activities/modes" target="_blank" class="list-group-item">Modes</a>    
            <a href="/my/activities/crawling" target="_blank" class="list-group-item">Crawling</a>
            <a href="#" target="_blank" class="list-group-item">Vocabulary</a>
            <a href="#" target="_blank" class="list-group-item">Review</a>
            <a href="/my/activities/dev" target="_blank" class="list-group-item">Intervals Dev</a>

</div>   
               
          </div>   

</div>