<div class="well wb">
	<div class="photos"> 
		<?php foreach ($files as $key => $value): ?>
	    	<img src="<?php echo $dir.'/'.$value ?>" /> 
		<?php endforeach ?>
	</div>
</div>
<style type="text/css" media="screen">
	.photos img {
	    position: absolute;
	}
	.photos img:nth-of-type(1) {
	    left: 50px;
	    top: 50px;
	}

	.photos img:nth-of-type(2) {
	    left: 150px;
	    top: 100px;
	}

	.photos img:nth-of-type(3) {
	    left: 250px;
	    top: 50px;
	}

	.photos img:nth-of-type(4) {
	    left: 350px;
	    top: 150px;
	}

	.photos img:nth-of-type(5) {
	    left: 450px;
	    top: 50px;
	}
	.photos img:nth-of-type(1) {
	    left: 50px;
	    top: 50px;
	    -webkit-transform: rotate(5deg);
	    -moz-transform: rotate(5deg);
	    -o-transform: rotate(5deg);
	    transform: rotate(5deg);
	}

	.photos img:nth-of-type(2) {
	    left: 150px;
	    top: 100px;
	    -webkit-transform: rotate(-10deg);
	    -moz-transform: rotate(-10deg);
	    -o-transform: rotate(-10deg);
	    transform: rotate(-10deg);
	}

	.photos img:nth-of-type(3) {
	    left: 250px;
	    top: 50px;
	    -webkit-transform: rotate(7deg);
	    -moz-transform: rotate(7deg);
	    -o-transform: rotate(7deg);
	    transform: rotate(7deg);
	}

	.photos img:nth-of-type(4) {
	    left: 350px;
	    top: 150px;
	    -webkit-transform: rotate(-3deg);
	    -moz-transform: rotate(-3deg);
	    -o-transform: rotate(-3deg);
	    transform: rotate(-3deg);
	}

	.photos img:nth-of-type(5) {
	    left: 450px;
	    top: 50px;
	    -webkit-transform: rotate(2deg);
	    -moz-transform: rotate(2deg);
	    -o-transform: rotate(2deg);
	    transform: rotate(2deg);
	}

	.photos img:hover {
	    -webkit-transform: rotate(380deg) scale(1.5);
	    -moz-transform: rotate(380deg) scale(1.5);
	    -o-transform: rotate(380deg) scale(1.5);
	    transform: rotate(380deg) scale(1.5);
	    z-index: 10;
	}
	
	.photos img {
	    -webkit-transition: all 0.5s ease-out;
	    -moz-transition: all 0.5s ease-out;
	    -o-transition: all 0.5s ease-out;
	    transition: all 0.5s ease-out;
	}
	
	.photos img {
	    -webkit-transition: all 0.5s ease-out;
	    -moz-transition: all 0.5s ease-out;
	    -o-transition: all 0.5s ease-out;
	    transition: all 0.5s ease-out;
	    padding: 10px 10px 30px 10px;
	    background: white;
	    border: solid 1px black;
	    z-index: 2;
	
	}
	
</style>