<div class="row-fluid">
		<div class="navbar-inverse ">
			<h1>
				Editing Multichoice Slide
			</h1>
			<h2><em>
					<?php //echo $quiz['name']; ?>					
				</em>
			</h2>
		</div>
		
		
		<div class="admin_subsub"> 
			<div class="admin_padding tm_10_px ">
				<?php echo $this->Breadcrumbs->breadcrumbs($breadcrumbs); ?>
			</div>
		</div>
		<div class="admin_padding tm_1_em">		
		<?php 
				echo $this->element('Multichoice/edit_fields');
		 ?>
						
		</div>
</div>


