<div class="row-fluid">
		<div class="navbar-inverse ">
			<h2>
			 Responses for mutlichoice question:
			</h2>
			<em>
				<?php 
				//echo $this->data['Multichoice']['name'];
				////	debug($this->data);
				?>
			</em>
		</div>
		<div class="admin_subsub"> 
			<div class="admin_padding tm_10_px">

			</div>
		</div>
		<div class="admin_padding tm_1_em">		

		<?php echo $this->element('Quizmodules.Multichoice/multi_choice_edit_answer_table'); ?>							
		

		</div>
</div>