<div class = "centered">
    <img style = "width:100%; border-radius:50%" src = "/users/be0fbff5ded65f6524a26955bb72965cb6823249/images/user_icon.webp" >
    <a href = "/my/stub/user_dashboard" >
            <h4>Jon</h4>
            <h6>Jon Andress</h6>
        </a>
</div>