
<div class = "tm_5_em">
    <a href = "/my/stub/user_dashboard/notifications" target = "">
        <h4 class = "rt" >Notifications</h4>
    </a>
    
    <a href = "/my/stub/user_dashboard/forum" target = "">
        <h4 class = "" >Community</h4>
    </a>



    <a href = "/my/stub/user_dashboard/collaborations" target = "">
        <h4 class = "" >Collaborations</h4>
    </a>




    <a href = "/my/stub/song_discussion/" target = "_blank">
    <div style = "padding-left:15px">
        <h5>
            <a href = "/my/stub/song_discussion/" target = "_blank">
                The Mississippi Burnouts
            </a>
        </h5>
        <h5>
            <a href = "/my/stub/song_discussion/" target = "_blank">
                The Peckinpaw Pecker Pullers
            </a>
        </h5>
        <h5>
            <a href = "/my/stub/song_discussion/" target = "_blank">
                Neccessary Tresspass
            </a>
        </h5>
    </div>
    <h4>
        <a href = "/my/practicesessions/" target = "_blank">
            Study
        </a>
    </h4>
    <h4>
        <a target = "_blank" href = "/my/stub/user_file_management">
        Files
        </a>
    </h4>
</div>
