<div class="admin_padding">
		<?php 
		$quiz = $this->data['Quiz'];
		$quizslide = $this->data['Quizslide'];
		$quiztextslide = $this->data['Quiztextslide'];
	?>
	<h1>
		<?php echo $quiztextslide['name']; ?>
	</h1>
	<h2>
		<?php echo $quiztextslide['subhead']; ?>
	</h2>
	<p>
		<?php echo $quiztextslide['text']; ?>
	</p>
	<div class = "clearfix bm_1_em">&nbsp;</div>
	<div class = "clearfix bm_1_em">&nbsp;</div>
</div>