
<div class = "container tm_2_em" >
<?php 
    // echo str_contains($data['Vocabulary']['url'], "http"); 
    // echo str_contains($data['Vocabulary']['url'], "https");

    if (!function_exists('str_contains')) {
        function str_contains($haystack, $needle) {
            return $needle !== '' && mb_strpos($haystack, $needle) !== false;
        }
    }

    $a = str_contains($data['Vocabulary']['url'], "http");
    $b = str_contains($data['Vocabulary']['url'], "https");
    if ($a || $b){
            echo "is external url";
        } else {
            echo "is local file";
        }
?>



<a target = "_blank" href = "<?php echo $data['Vocabulary']['url']; ?>"><?php echo $data['Vocabulary']['name']; ?></a>
</div>

I dont remember whats up with this page. If its even needed.   