<div class = "container">
    <h1>
<?php echo(
"Make this area serve activity content and ping the server with activity.   This will involve moving logic from the activity controller to the activity model.  Also view files may need rectifying. "
); ?>

</h1>

</div>