<div class = "container">
    <?php
        if(!empty($data)){
            echo $this->element("practice_sessions/view",array('data'=>$data,'psId'=>$psId ));  
        }else{
            ?> 
                <h1><a href =  "/my/practicesessions/">back</a></h1>            
            <?php
        }
        ?>
</div>






