<div class = "container">
    <h1>Practice Session Complete!</h1>
    <h4>next add practice session timer / progress UI</h4>
    <h4>practice session timer pinging server, also remove click handler pinging from practice_session.js</h4>
    <h5>/my/practicesessions/ & /my/practicesessions/view/ & /my/practicesessions/view/1</h5>
    <br/>
    UPDATE `practice_session_activities` SET `completed` = '0';<br/>
    UPDATE `practice_session_activities` SET `time_begun` = '';<br/>
    UPDATE `practice_session_activities` SET `time_last` = '';<br/>
</div>