

<div class = "container" >
<h1>create from random activity</h1>
<ul style = "font-weight:600; color:#ffffff; line-height:28px; margin:10px">
    <li>
        Query Activities.   NOT taxonomy only. 


    </li>
    <li>
        Get 5 or 10 random Activities.   
    </li>

    <li>
        Create the Practice Session.   
    </li>




</ul>
</div>
<?php //echo $this->element('practice_sessions/practice_session_creation_screen');