<div id = "admin_files_scroll_pane" class = "">
	<?php echo $content_for_layout; ?> 			 						
</div>
<script src="/PagekwikTools/js/ajax_slider.js"></script>    
<script type="text/javascript">
        var fb_ajax_helper = ajax_slider();
        fb_ajax_helper.init("#admin_files_scroll_pane",'.fb_ajax_link');            
</script>