

<div class="container hidden-xs hidden-sm pt_1_em">
    <a class="pull-left" href="/acknowledgements/">

    </a>
    <a class="pull-left lm_2_em" href="/contact/">

    </a>
	<a class="pull-right " href="/">

    </a>
</div>



<div class="hidden-lg hidden-md" style="text-align:center">

</div>

<?php // echo $this->element('ga_js'); ?>
