<div style = "display:inline;" class = "tm_4_em sitemap_toggle sitemap_indent_'.($this->level+1).'">
	<div class="btn btn-small sitemap_small_button">
		<i class="sitemap_icon glyphicon glyphicon-plus-sign"></i>
	</div>&nbsp;
	<a><?php $vals['Navlink']['id'].'. '.$vals['Navlink']['name'] ?>
</div>
