<div class="navbar-inverse ">
	<h1>
		New Sorting Piece:
	</h1>
	<h2><em>

		</em>
	</h2>
</div>
<div class="admin_subsub"> 
	<div class="admin_padding tm_10_px">

	</div>		
</div>

<div class="admin_padding tm_1_em">		

	<?php
//	 debug($this->data);

//		$this->data['Sorting']['answer']

	echo $this->BootstrapForm->create();?>			
	<?php echo $this->BootstrapForm->hidden('Sorting.id'); ?>
	<?php echo $this->BootstrapForm->hidden('Sorting.answer'); ?>
	<h3>New Sorting Piece</h3>
	<?php echo $this->BootstrapForm->hidden('Sortingpiece.sorting_id',array('value'=>$this->data['Sorting']['id'])); ?>
	<?php echo $this->BootstrapForm->input('Sortingpiece.name',array('class'=>'col-md-12 ','label'=>'')); ?>
	<?php echo $this->BootstrapForm->submit('Next',array('class'=>'btn pull-right tm_1_em'));?>			
	<?php echo $this->BootstrapForm->end();?>			
</div>
 
<div class = "clear clearfix">
	&nbsp;
</div>

