<div>	
	<h2>
	<?php echo $this->data['Sorting']['name']; ?>
	</h2>	
	<p>
		<?php echo($this->data['Sorting']['directive']); ?>		
	</p>
	<div class="admin_padding tm_10_px">
		<div class="nav pull-right btn-group tm_4_px">
				
		</div>
	</div>		
	<div class = "clear clearfix">&nbsp;</div>
</div>
<?php echo $this->element('Sorting/view_elements'); ?>