<?php $rowId = uniqid(); ?>
<tr id = '<?php echo $rowId ?>'>
	<td style='text-align:center;' class = 'pt_1_em pb_1_em'>
	</td>
	<td class = 'pt_1_em pb_1_em'>										
		<input type="text" id="Answer" class = 'span9' maxlength="500" required="required" name="data[Fillintheblank][CorrectFibAnswer][]">
		<span class="help-inline"><span class="label label-important">Required</span>&nbsp;</span>
	</td>
	<td style='text-align:center;' class = 'pt_1_em pb_1_em'>
	</td>																
</tr>