<fieldset>
	<?php
	$full = array('class'=>'col-md-12 ckeditor');
	echo $this->BootstrapForm->input('title',$full);
	echo '	<div class = "clearfix">&nbsp;</div>';
	echo $this->BootstrapForm->input('body',$full);
	echo $this->BootstrapForm->hidden('id');
	?>
</fieldset>
<?php echo $this->Html->script('ckeditor/ckeditor'); ?>