<div class = "clear bm_4_em"></div>
<?php 
	$path = 'banners/';
	$file = '/index.php';
	if (file_exists($path.$tier_data['copy'].$file)) {
		


		?><div style = "margin-bottom:-50px"><?php include($path.$tier_data['copy'].$file); ?></div>
		<?php



	}else{
		echo '<div class = "well"> banner not found. </div>';
	}
?>