<h1>Static Pages</h1>
<hr/>
<pre>
	something should go here.
	a list of files in some user writable directory within the plugin...
	not sure about database involvement, you may need it to allow this thing to do that thing.
	
</pre>

<pre>
Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.	
</pre>	