<div class = "clearfix">&nbsp;</div>
<div class="alert alert-success">
	Password Successfully Changed
</div>

<a class = "btn btn-primary" href = '/login/'>Log In Now</a>
<div class = "clearfix">&nbsp;</div>