<div class = "clearfix">&nbsp;</div>
<div class ="alert alert-danger">Link Expired</div>       
<?php if (empty($hide_try_again_link)): ?>
	<a class ="btn btn-primary" href="/iforgot/">Try Again</a>	
<?php endif ?>
<div class = "clearfix tm_1em">&nbsp;</div>