<div class="row-fluid">
		<fieldset>
			<?php 
				echo $this->UserManagementForm->createForm('User','/signup/');
				echo $this->UserManagementForm->printFields($userDatafields);
				echo '<hr/>';
				echo $this->UserManagementForm->printFields($passwordfields);				
				echo '<hr/>';
				echo $this->UserManagementForm->printSubmit();			
				echo '<div class = "clearfix">&nbsp;</div>';
			?>                           
		</fieldset>
		<?php 
			echo $this->BootstrapForm->end();
			echo $this->Session->flash();
		?>			
</div>