<div class = "clearfix">&nbsp;</div>
<a class="h_centered" href = "/" >
	<div class="alert alert-success">
		An email with instructions has been sent to the email address we have on file for you.
	</div>
</a>
<?php
	$a = Configure::read('debug');
	$b = !empty($link);
	if($a && $b){
		echo '<strong>'.$link.'</strong>';
	}
?>
	</strong>
<div class = "clearfix">&nbsp;</div>
