<div class="">
  <h2>Current and upcoming Assignments</h2>
  <ul>
    <?php for($i = 1; $i <= 3 ; $i++): ?>
      <li>
        <div class="well" style="padding:2px; padding-left:20px;">
          <h4>Assignment <?php echo $i ?></h4>
          <p>0 points.<br/>Due: Dec 10th.</p>
        </div>
      </li>
    <?php endfor; ?>
  </ul>
</div>
<div class="">
  <h2>Grades & Fedback</h2>
  <ul>
    <?php for($i = 1; $i <= 3 ; $i++): ?>
      <li>
        <div class="well" style="padding:2px; padding-left:20px;">
          <h4>message <?php echo $i ?></h4>
          <p>Lorem ipsum dolor sit amet, consectetur </p>
        </div>
      </li>
    <?php endfor; ?>
  </ul>
</div>
<div class="">
  <h2>Messages</h2>
  <ul>
    <?php for($i = 1; $i <= 3 ; $i++): ?>
      <li>
        <div class="well" style="padding:2px; padding-left:20px;">
          <h4>Assignment <?php echo $i ?></h4>
          <p>0 points.<br/>Due: Dec 10th.</p>
        </div>
      </li>
    <?php endfor; ?>
  </ul>
</div>
