
<div class = "container_fluid">

    <div id="image_banner" class="container-fluid" style="height:500px; overflow-y:hidden; padding:0px">      
    
        <img id="banner_image" style="width: 100%; margin-top: -534px;" src="/users/be0fbff5ded65f6524a26955bb72965cb6823249/sky_lake.jpg">

    </div>
      
</div>


<div class ="container-fluid " >

<div class = "col-md-2">

</div>
<div class = "col-md-10">
<h2>Mississippi Burnouts</h2>           
<div class = "clear clearfix tm_3_em">

</div>
<?php  echo $this->element("stubs/forum_listing", array("limit"=>3)); ?>
</div>

</div>
