





<div class = "container-fluid">
    <div id = "" class = " col-md-2">
        
        <?php  echo $this->element("stubs/users/user_icon", array("limit"=>3)); ?>
        <?php  echo $this->element("stubs/users/collaboration_page_nav", array("limit"=>3)); ?>

    </div>    
    <div class = "col-md-10">
     


            <div id="image_banner" class="container-fluid" style="height:500px; overflow-y:hidden; padding:0px">      
                <img id="banner_image" style="width: 100%; margin-top: -238.667px;" src="/users/be0fbff5ded65f6524a26955bb72965cb6823249/collaborations/the_mississippi_burnouts/public/images/sky_lake.jpg">
            </div>
            <h2>Mississippi Burnouts</h2>
            <div class = "clear clearfix tm_2_em" >&nbsp;</div>






<?php  echo $this->element("stubs/forum_listing", array("limit"=>3)); ?>













    </div>
</div>