<div id="courseSelects">
  <h1 style="margin-top:0px">Classes</h1>
    <?php
			 echo($this->Form->create(''));
       echo($this->Form->hidden('User.id',array('value'=>$userId)));
     ?>
     <?php
			//$this->HabtmTable->printTable($list,$selections,'CourseUsers',"data[$model][]","data[CourseUsers][$model]",'');
    echo $this->HabtmTable->printClasses($list,$selections,'CourseUsers',"data[$model][]","data[CourseUsers][$model]",'');
    ?>
    <div class="clear clearfix">
      &nbsp;
    </div>
    <div class="row-fluid " style="padding:20px">
			<input id = "selectAll" type="checkbox" name="data[Course][]" value="1" id="data[CourseUsers][Course]1">
      <label id = "selectAllLabel" for="data[CourseUsers][Course]1">Select / Deselect All</label>
      <?php echo $this->BootstrapForm->submit("Submit",array('class'=>'btn btn-primary _btn-block tm_2_em pull-right btn-block btn-success')); ?>
    </div>

    <?php
          echo $this->Form->end();

          // echo $this->Html->script('jquery'); // Include jQuery library
    ?>
</div>
<?php

/*
public function stub($file = ''){
  $this->layout = 'dashboard';
  if (!empty($this->data)) {
    $this->User->save($this->data);
  }
  $g = $this->Fileutil->getDirectoryContents('../View/elements/stubs');
  if($file==''){
    $this->set('listing', $g);
  }else {
    $this->set('listing', $g);
    $this->set('include', $file);
    $this->set('userId', $this->current_user['User']['id']);

    $list = $this->Course->find("list");
    $this->set('model','Course');
    $this->set('list', $list);
    $this->User->Behaviors->attach('Containable');
    $this->User->contain(array('Course'));
    $ar = array();
    foreach ($this->current_user['Course'] as $key => $value) {
      array_push($ar, $value['id']);
    }
    $this->set('selections', $ar);
  }
}

*/



 ?>
