<tr>

			<td>
                <?php echo $tst['class']; ?>
			</td>

			<td>
				<ul style="list-style:none; padding:0">
		            <li class="dropdown">
		              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                      <?php echo $tst['name']; ?>
		              </a>
		                <ul class="dropdown-menu " role="menu" style="text-decoration:none;">

							<li>
								<a class="" href="/my/quizzes/edit/2">Edit</a>
		                    </li>
		                    <li>
								<a class="" target="_blank" href="/quizzes/view/2">View</a>
		                    </li>
							<li>
								<form action="/Quizmodules/Quizzes/delete/2" name="post_5f5145e21282b144899494" id="post_5f5145e21282b144899494" style="display:none;" method="post"><input type="hidden" name="_method" value="POST"></form><a href="#" onclick="if (confirm(&quot;Are you sure you want to delete quiz # 2 and all related slides?&quot;)) { document.post_5f5145e21282b144899494.submit(); } event.returnValue = false; return false;">Delete</a>			                    </li>
		                	<li role="presentation" class="divider"></li>

							<li>
								<a target="_blank" href="/standalone/quizzes/view/2">View as Standalone</a>
		                    </li>
							<li>
								<a class="lightbox_link" href="/standalone/quizzes/view/2">View in Lightbox</a>
		                    </li>
		                </ul>
		            </li>
		          </ul>
			</td>
			<td>
            <?php echo $tst['description']; ?>
			</td>
      <td>
      <?php echo $tst['time']; ?>
      </td>
		</tr>
        

        
        
        