<?php
    $badges = array(
        "badge_small_general.png",
        "badge_small_grad.png",
        "badge_small_greek.png",
        "badge_small_hipster.png",
        "badge_small_judge.png",
        "badge_small_nerd.png",
        "badge_small_sherlock.png",
        "badge_small_twain.png",
        "badge_small_world.png",
        "badge_small_zombie.png"
    );
    // $d = $data['Forumentry'];
    //  `xdebug($data);
?>
<div class="forum_title_row">
  <div class="">
    <div  style="width:120px">
      <div class="forum_voter_arrows">
          <a href="/my/forumentry/2"><div class="arrow up">&nbsp;</div></a>
          <div class="rank_number">
              12
          </div>
          <a href="/my/forumentry/2"><div class="arrow">&nbsp;</div></a>
      </div>
      <div class="avatar pull-left">
        <img src="/owls/<?php echo $badges[rand(1,8)] ?>" alt="" />
      </div>
    </div>
    <div class=" col-sm-10 ">
      <a class = "" target = "_blank" href = "/my/forumentry/2" ><h3>Lorem Ipsum</h3></a>
      <div class="">
        <h6 class="gt_2" style="display:inline">Submitted Yesterday by</h6> <h6 class="gt_15" style="display:inline">Mowgli</h6><h6 class="gt_15" style="display:inline">, 6 Comments</h6>
      </div>
        <ul>
          <li><a class = "" target = "_blank" href = "/my/forumentry/2" >1 Comment</a></li>
        </ul>
    </div>
    <div class="clear clearfix">&nbsp;</div>
  </div>
</div>
