<div class="well tm_10_em">
  <h3>For a student <em>course</em> dashboard</h3> what you need to see is:<br/>
  &nbsp;&nbsp;&nbsp;&nbsp;Where you left off / what's next.<br/>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;(quizzes, as well as progress through the course material)<br/>
  &nbsp;&nbsp;&nbsp;&nbsp;due dates / next quiz<br/>
  &nbsp;&nbsp;&nbsp;&nbsp;grades.<br/>
  &nbsp;&nbsp;&nbsp;&nbsp;messages / forum replies<br/>
  <br/><br/>
  <h3>For a Teacher led course:</h3><br/>
    Course CRUD<br/>
    View All students in class
    View / Moderate the forum.
      Create<br/>
        Adding content and
      Read<br/>
      Update (add to course)<br/>
      <ul>
        <li>Posts / Blog</li>
        <li>Quizzes</li>
        <li>Video</li>
        <li>Video Live Streaming</li>
      </ul>
      Delete<br/><br/><br/>
      Add to Schedule.<br/>
        View Schedule.<br/>

  <br/>

    also, look at the data $this->current_user is returning.  it is overkill for the majority of pages and must be contained.
  <br/>
      Not sure how to query proximal dates<br/>
    <br/>
  <br/>

  Right now you are organizing around the calendar.    It doesn't need to neccessarily be date based.  If a class is self-led then the calendar doesn't matter.
  In that cas what are the requirements of the student and the teacher?
  Next Lesson & or next quiz
  Need to get a list of Courseevents by User Id
  <br/>
  Courseevent<br/>
  Courses<br/>
  Users<br/>
  <br/><br/>
  <br/>
</div>




Need this for the "assignments" feed to work on the dashboard.    <br/>





<br/>

also, look at the data $this->current_user is returning.  it is overkill for the majority of pages and must be contained.
<br/>

  Not sure how to query proximal dates<br/>
<br/>
<br/>

Right now you are organizing around the calendar.    It doesn't need to neccessarily be date based.  If a class is self-led then the calendar doesn't matter.
In that cas what are the requirements of the student and the teacher?
Next Lesson & or next quiz



Need to get a list of Courseevents by User Id
<br/>


Courseevent<br/>
Courses<br/>
Users<br/>
<br/><br/>

<br/>
