
<?php for ($i=0; $i <6 ; $i++): ?>

<div class="alert alert-dark">
    <button type="button" class="close" data-dismiss="alert">×</button>
    <strong>
        <h4 >Lorem Ipsum</h4>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit.</p>
    </strong> 
</div>

<?php endfor; ?>


