<ul>
    <li>
        practice session engine
        <ul style ="margin-left:1em">
            <li>
                1 
            </li>
            <li>
                2 
            </li>
            <li>
                3 
            </li>
            <li>
                4 
            </li>            
        </ul>
    </li>
    <li>&nbsp;</li>    
    <li>
        make the vocabulary player
        <ul style ="margin-left:1em">
            <li>
                 debug original
            </li>
            <li>
                selectable timeline 
            </li>
            <li>
                make loopable
            </li>
            <li>
                adjust tempo without effecting pich
            </li>            
        </ul>        
    </li>
    <li>&nbsp;</li>
    <li>
         guitar tuner
    </li>


</ul>


