<div class = "container-fluid">
    <div id = "" class = " col-md-2">
        
   <?php echo $this->element('stubs/users/user_icon'); ?>

   <?php echo $this->element("stubs/users/user_dashboard_nav"); ?>

    </div>    




    <div class = "col-md-8">
        <div class = "tm_1_em"> <?php echo $this->element("stubs/users/user_file_management"); ?></div>
    </div>

    <div class = "col-md-2">
        <?php  echo $this->element("stubs/users/file_pie"); ?>
    <div class = "tm_2_em">







</div>