<div class ="container">
    <div class= "centered">
            <?php 
                $user_id = 'be0fbff5ded65f6524a26955bb72965cb6823249'; 
                $redirect = "/my/dashboard";
                $h1 = "Welcome Jun!";
                $h2 = "This space is yours!";
            ?>       
            <img style = "width:50%" src = "/users/<?php echo $user_id?>/public/images/user_icons/user_icon.webp" >
            <h1>
                <?php echo $h1; ?>
            </h2>
            <h2>
                <?php echo $h2;  ?>
            </h2>
            <a href = "<?php echo $redirect; ?>" style = "width:30%" class = "tm_2_em btn btn-success">Enter</a>

    </div>
</div>


