<script type="text/javascript" src="/Audiomanager/soundmanager/soundmanager2.js"></script>
<script type="text/javascript" src="/Audiomanager/soundmanager/inlineplayer.js"></script>




<script type="text/javascript" >
	var inlinePlayer = null;
	soundManager.setup({
	  debugMode: false,// disable or enable debug output
	  preferFlash: false,// use HTML5 audio for MP3/MP4, if available
	  useFlashBlock: true,
	  url: '/soundmanager/',// path to directory containing SM2 SWF
	  flashVersion: 9// optional: enable MPEG-4/AAC support (requires flash 9)
	});
	soundManager.onready(function() {
	  inlinePlayer = new InlinePlayer();
	});
</script>