<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="./favicon.ico">
    <title>Vert</title>


  	<link href="/css/bootstrap.css" rel="stylesheet">
    
    <link href="/css/layout_aids.css" rel="stylesheet">

    <link href="/Virtuoso/Virtuoso/css/neck.css" rel="stylesheet">
    <link href="/Virtuoso/Virtuoso/css/guitar_vertical.css?nc=<?php echo rand() ?>" rel="stylesheet">
    <link href="/Virtuoso/Virtuoso/css/style.css" rel="stylesheet">
    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="/Virtuoso/Virtuoso/.//js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="/js/jquery.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <!--wyswyg editor -->
    <!--end wyswyg editor -->

    <?php  /* <link rel="stylesheet" type="text/css" href="./css/freelancer.css"></link> */ ?>

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <style type="text/css">
   


    </style>
  </head>
  <body>



  <?php echo $this->element('Virtuoso.nav/comparison_selects_modal'); ?>
    <div id="caption_holder"></div>

    <nav id = "top_nav" class="navbar navbar   navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container-fluid">
          <?php echo $this->element('navigation/top_nav_content',array('admin'=>  !empty($admin)   ));?>
        </div>
      </nav>

      <div id ="undernav_drawer" class="nav_underbar navbar-default " >
          <div class = "pl_1_em">
          <?php //
            if(isset($underbar_content)){
              echo $this->element($underbar_content); 
            }else{
              echo $this->element('Virtuoso.nav/nc'); 
            }
            ?>
          </div>
          <div class="clear clearfix bm_1_em">&nbsp;</div>
          <div class="clear clearfix tm_1_em">&nbsp;</div>
      </div>
      
    


<div class="container-fluid">
    <div class = "guitar_container_container" >
      <div class="guitar_container" >
          <div class="guitar">
            <div class = "vert_neck_container">
              
            <?php //include("includes/guitar_structure/neck.php"); ?>
            <?php echo $this->element('Virtuoso.neck'); ?>


            </div>
            <img class= "guitar_img" src="/Virtuoso/Virtuoso/img/guitar_vert.jpg">
          </div>
      </div>
    </div>      
  </div>

 



  <script src="/Virtuoso/phaser/dev.js"></script>
  <script src="/Virtuoso/phaser/versions.js"></script>
  <script src="/Virtuoso/phaser/getQueryString.js"></script>
  <!-- here -->
  <script src="/Virtuoso/Virtuoso/js/EventManager.js"></script>
  <script src="/Virtuoso/Virtuoso/js/guitar_model.js"></script>
  <script src="/Virtuoso/Virtuoso/js/caged.js"></script>
  <!-- here -->
  
  <script src="/Virtuoso/Virtuoso/js/guitar.js"></script>  
  <script src="/Virtuoso/Virtuoso/js/PlayableGuitar.js"></script>
  <!-- <script src="/Virtuoso/Virtuoso/js/ui.js"></script>  
  <script src="/Virtuoso/Virtuoso/js/GuitarUI.js"></script> -->
  <script src="/Virtuoso/Virtuoso/js/makeNotesClickable.js"></script>
  <!-- here -->    
  <?php
    /// debug($additional_scripts);
    echo $this->Js->writeBuffer();
    echo $this->Session->flash('flash', array(
        'element' => 'flash',
        'params' => array('plugin' => 'PagekwikTools')
    ));
    // this flash should probably be included in the sites, rather than an a plugin.
    // also the site flash currently resides in the quiz plugin. that needs to be relocated to somewhere universal.
?>

<script>
   function audioReady(){}
</script>  


<?php 



foreach ($additional_scripts as $key => $value): ?>
  <script type="text/javascript" src='<?php echo $value ?>.js'></script>
<?php endforeach; ?>
<?php echo $this->fetch('bottom_script') ?>

</html>
