<div id="image_banner" class="container-fluid" style="height:500px; overflow-y:hidden; padding:0px">      
                <img id="banner_image" style="width: 100%; margin-top: -238.667px;" src="/users/be0fbff5ded65f6524a26955bb72965cb6823249/collaborations/the_mississippi_burnouts/public/images/sky_lake.jpg">
            </div>



<h1><?php echo($collaboration['name']); ?></h1>

<div class = "clear clearfix tm_4_em">&nbsp;</div>
<h2>
    Files
</h2>

<?php echo $this->element('user_area/collaborations/collaborations_file_structure'); ?>

<div class = "clear clearfix tm_2_em bm_2_em">&nbsp;</div>






<div class="">
	<a class="" href="/my/forum/">
        <h2 class=" col-sm-4">
            Discussions 
        </h2>
    </a>
	<span class=" pull-right">
		<a style = "" class="btn tm_10_px btn-primary" href="/my/forum/add/">New</a>
	</span>
</div>
<div class= " clear clearfix tm_2_em bm_2_em">&nbsp;</div>
<?php $this->Community->printList( $list,$this, $row_element); ?>


<div class = "clear clearfix tm_6_em">&nbsp;</div>




<?php 
    // echo $this->element('stubs/forum_listing', array('limit'=>4)); 
?>