
<h1>
   Collaborations
</h1>
<div class="clear clearfix tm_1_em  ">&nbsp;</div>
<a href = "/my/collaborations/add/1">Create a New Collaboration</a>
   <?php echo $this->element('user_area/collaborations/collaborator_list'); ?>
<div class="clear clearfix tm_1_em bm_2_em ">&nbsp;</div>

