<table id="" class="table table-striped table-bordered table-hover">
	<thead>
		<tr class="">
			<th class="col-md-1">&nbsp;</th>
			<th class="span9">&nbsp;</th>
			<th class="actions col-md-2" style="text-align:center">&nbsp;</th>
		</tr>
	</thead>			
	<tbody>
	<?php


	foreach ($collaborations as $key => $v): 	
		$value = $v;//['Collaboration'];
		// debug($value);
	?>
		<tr id="0" class="altrow">
		
			<td style="text-align:center">
				<!-- <img src = "/owls/small/"> -->
			</td>

			<td style = "font-size:14pt; padding:19px"  >
				<div style = "font-size:14pt; margin-top:-2px" class="file_listing_label pull-left ">&nbsp; 
					<a class="fb_ajax_link" href="/my/collaborations/view/<?php echo $value['id']; ?>"><?php echo $value['name']; ?></a>
				</div>
			</td>

			<td>
	
			</td>
		</tr>
	<?php endforeach;?>
	</tbody>
</table>	

<div class = "clear clearfix tm_4_em">&nbsp;</div>