<div id="controlls" class="btn-group pull-right" >
    <div class="btn-group  ">
  

    <a id = "prev_btn" class="btn btn-default btn-sm" href="">
        <span class="glyphicon glyphicon glyphicon-step-backward" aria-hidden="true"></span> 
    </a>
    <a id = "play_pause_btn" class="btn btn-default  btn-sm" href="">
        <span id = "play_icon" class="glyphicon glyphicon glyphicon-play hidden" aria-hidden="true"></span> 
        <span id = "pause_icon" class="glyphicon glyphicon glyphicon-pause " aria-hidden="true"></span>         
    </a>
    <a id = "next_btn" class="btn btn-default  btn-sm" href="">
        <span class="glyphicon glyphicon glyphicon-step-forward" aria-hidden="true"></span> 
    </a>



    <div id="interval_dropdown" class="btn-group"> <!-- btn-group2 -->
      <button type="button" class="interval_dropdown btn  btn-sm btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
        Interval <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" role="menu">
        <?php for ($i = 4000; $i > 0; $i-=200) { ?>
            <li><a class="interval_link" href="#<?php echo $i; ?>"><?php echo $i; ?></a></li>
        <?php } ?>
      </ul>
    </div>








  </div>
</div>



