



<div class="navbar-inverse">
			<h2><?php echo 'Content Tiers for landing page'; ?></h2>
			<h3>
				<em><?php echo($this->data['Landingpage']['title']); ?></em>
			</h3>			
			<div class = "clearfix">&nbsp;</div>			
</div>


<div class="admin_subsub "> 
	<div class="admin_padding tm_10_px bm_12_px">
		<?php  echo $this->Breadcrumbs->breadcrumbs($breadcrumbs); ?>
	</div>
</div>


<div class="admin_padding tm_1_em" >

	<?php echo $this->element('new_tier_btn') ?>





		<div class = "clear"></div>	

		<script type="text/javascript">
			$(function () {
			  $('[data-toggle="popover"]').popover()

			})
		</script>


		<?php echo $this->element('landing_tier_table_holder'); ?>				

</div>


