<h2 class=" col-sm-4">Adding a discussion for song:  </h2>

<?php
	// debug($file);
?>

<div class = "clear clearfix">&nbsp;</div>


<div class = "audio_player tm_1_em" id = "audio_player_<?php echo 1; ?>">
    <?php echo $this->element('user_area/audio_player/audio_player_ui',array('initial_file'=>$file,'guid'=>1)); ?>
    <?php echo $this->element('user_area/audio_player/audio_visualizer',array('initial_file'=>$file,'guid'=>1)); ?>
</div>
<?php echo $this->element( 'user_area/audio_player/AudioPlayerJs',array('initial_file'=>$file,'guid'=>1));  ?>



<div class = "clear clearfix">&nbsp;</div>

<div class="tm_1_em container-fluid">
	<?php $d = $data; ?>
	<div class="hero-unit">
		<h2>Adding </h2>

				<!--  text input box-->
				<div class="col-sm-6">
					<?php echo $this->BootstrapForm->create('Forumentry', array('class' => ''));
							// echo $this->BootstrapForm->hidden('course_id',array("value"=>$d['Course']['id']));
							echo $this->BootstrapForm->input('title',array("class"=>"col-sm-12 bm_1_em block"));
							echo $this->BootstrapForm->textarea('copy',array("class"=>"forum_text_entry_box col-sm-12 bm_1_em block"));
							echo $this->BootstrapForm->submit('Submit', array('action' => 'submit'));
							echo $this->BootstrapForm->end();
					?>
				</div>

	</div>
</div>
