

<h1>Add New </h1>

<div class = "tm_4_em">
    <div id = "player_dest"></div>
    <a href = "#"  class = "ersh btn btn-default">test</a>
        <?php //echo $this->element('/user_area/audio_player/audio_player', array("initial_file"=>'collaborations/the_mississippi_burnouts/raw_jams/crosses.mp3')); ?>
        <div class = "clear clearfix">&nbsp;</div> 
        <div class="col-sm-10 forum_entry_field">
            <?php
                    echo $this->Form->create('ForumEntry');
                    echo $this->Form->input('title',array('style'=>"width:100%; background-color:#202020; border-color:#454545; color:#ececec; border-radius:15px; width:100%; "));
                    echo $this->Form->hidden('parent_id');
                    echo '<div class = "tm_1_em clear clearfix">&nbsp;</div>';
                    echo '<div class = "tm_2_em clear clearfix">&nbsp;</div>';
                    echo $this->Form->hidden('user_id');
                    echo $this->Form->textArea('copy',array('style'=>"background-color:#202020; border-color:#454545; color:#ececec; border-radius:15px; width:100%; height:200px;"));
                    echo $this->BootstrapForm->submit("Subtit",array('class'=>"btn btn-lrg btn-primary pull-right tm_2_em"));
                    echo $this->Form->end();
            ?>
        </div>
</div>

<script>

   
        // /inlineplayer/
        //     player_dest1/
        //     1708545087169-km4c1e5dswn/
        //-----------------------------------  
        //     collaborations/
        //     the_mississippi_burnouts/
        //     raw_jams/
        //     crosses.mp3

    function addToPage(target_div, file){
        var timestampGUID = `${Date.now()}-${Math.random().toString(36).substring(2, 15)}`
        var _url = "/inlineplayer/"+timestampGUID+"/"+file+"/"
        $.ajax({
                url: _url,
                error: function(d){
                    alert('Error! Content not found');
                    console.log(d)
                },
                success: function(data){
                    try {
                        $("#"+target_div).html(data);
                    } catch (e) {
                        console.log(e)
                        alert('Error!');
                    }
                }
            })
    }


    
    var i = 0;    
    var file = "<?php echo $current_user['User']['user_dir']; ?>/collaborations/the_mississippi_burnouts/raw_jams/crosses.mp3";
    var file2 = "<?php echo $current_user['User']['user_dir']; ?>/collaborations/the_mississippi_burnouts/raw_jams/dazed.mp3";
    var file3 = "<?php echo $current_user['User']['user_dir']; ?>/collaborations/the_mississippi_burnouts/raw_jams/ecoomic_systems.wav";
    var file4 = "<?php echo $current_user['User']['user_dir']; ?>/collaborations/the_mississippi_burnouts/raw_jams/g.mp3";
    var file5 = "<?php echo $current_user['User']['user_dir']; ?>/collaborations/the_mississippi_burnouts/raw_jams/jack_gloomy_jam_1.mp3";
    var file6 = "<?php echo $current_user['User']['user_dir']; ?>/collaborations/the_mississippi_burnouts/raw_jams/loop2.mp3";

    $(".ersh").click(function(e){
        var files = [file, file2, file3, file4, file5, file6];
        var f = files[ i ];
        i++
        var p = "child_"+i
        var t = "<div id = '"+p+"'></div>"
        $("#player_dest").append(t)
        addToPage(p, f)
        return false;
    })
</script>





