


<div style="position: absolute; top: 35%; left: 50%; transform: translate(-50%, -50%); width: 420px; height: 200px;">

<div style="">


    <div style="background-color:#171717; padding-bottom: 50px; border-radius: 20px; filter: drop-shadow(-3px 0px 14px rgba(0,0,0,1));" class="well centered">
                                    <h1><a href = "/">Sonosphere</a></h1>        
                                    <div class=" h_centered hasTooltip" data-placement="right" data-original-title="Password">&nbsp;</div>
                                    <?php echo($this->Form->create('User', array('url'=>'/login/','class'=>'form-inline'))); ?>
                                    <div style = "">
                                    </div>
                                    <!-- <h4 class="gt_5" style="margin-bottom:0px">Please sign in!</h4>  -->
                                    <!-- or<h5 class="gt_5" style="margin-top:0px"> <a href="/signup">Sign Up</a> </h5> -->
                                    <?php
                                        $params = array('params'=>array('class'=>'alert alert-error'));
                                        $g = $this->Session->flash('auth',$params);
                                        $g = empty($g) ? $this->Session->flash('flash',$params) : $g;
                                        if(!empty($g)){ echo $g;}
                                    ?>
                                    <div class="control-group tm_1_px">
                                        <div class="input-prepend input-append">
                                            <?php echo($this->Form->input('username',array('label'=>'','div'=>null,'placeholder' => "User Name", 'class'=>'centered standalone_login_module_field'))); ?>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="control-group">
                                        <div class="input-prepend input-append">
                                            </a>
                                            <?php echo($this->Form->input('password',array('label'=>'','div'=>null,'placeholder' => "Password", 'class'=>'centered standalone_login_module_field'))); ?>

                                        </div>
                                    </div>
                                    <div class = "clearfix">&nbsp;</div>
                                    <div class="pr_2_em pl_2_em tm_2_em">
                                        <div style = "width:75%; text-align:center; margin:auto;" class ="tm_1_em bm_2_em">
                                        <?php
                                            echo $this->Form->submit('Log in', array(
                                                'div' => array('class'=>'submit_container'),
                                                'class'=>'btn-block btn-large btn btn-block btn-primary',
                                            ));
                                            echo($this->Form->end());
                                        ?>
                                        </div>
                                    </div>
                                <div class = "clearfix">&nbsp;</div>
                            </div><!-- well grey_background -->







    </div>
</div>



  <div  class="fullscreen-image body_background_color">
      <img alt="" src="/img/backgrounds/sonosphere_guitar_blurred.jpg" > 
  </div>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <script src="/js/bootstrap.min.js"></script>
  <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
  <script src="/js/ie10-viewport-bug-workaround.js"></script>
