


<div style="position: absolute; top: 15%; left: 50%; transform: translate(-50%, -50%); width: 800px; height: 200px;">




    <div style="background-color:#171717; padding: 150px; padding-top: 20px; padding-bottom: 20px; border-radius: 20px; filter: drop-shadow(-3px 0px 14px rgba(0,0,0,1));" class="well centered tm_2_em">
                                    <h1>
                                        Sup Big Jun!     
                                    </h1>        
                                    <h3>This space is for you!</h3>
                                    <div class = "clearfix clear tm_2_em">&nbsp;</div>

                                    <div class = "well" style = "border-radius: 20px;  overflow-x:hidden">
                                        <img style = "max-width:100%" src="/users/well_of_souls/jun.webp" alt="">
                                    </div>

                                    <div class = "clearfix">&nbsp;</div>
                                    <div class="pr_2_em pl_2_em tm_2_em">
                                        <div style = "width:75%; text-align:center; margin:auto;" class ="tm_1_em bm_2_em">
                                        <a class = "btn-block btn btn-primary " href = "my/stub/user_dashboard/">Come on In!</a>
                                        </div>
                                    </div>
                                <div class = "clearfix">&nbsp;</div>
                            </div><!-- well grey_background -->








</div>



  <div  class="fullscreen-image body_background_color">
      <img alt="" src="/img/backgrounds/sonosphere_guitar_blurred.jpg" > 
  </div>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <script src="/js/bootstrap.min.js"></script>
  <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
  <script src="/js/ie10-viewport-bug-workaround.js"></script>
