<?php
$ar = $current_user['Course'];
if (  count($ar) == 0 ): ?>

    <div class="">
      <h3>It looks like you havent signed up for any courses</h3>
      <h4><a href = "/my/courses">Sign up Now</a></x`h4>
    </div>

<?php else: ?>


<?php endif; ?>

<?php


 // debug($current_user);
  // debug($ar);
foreach ($ar as $key => $value):

  ?>
  <div class="col-md-4 " >
    <div class="well" style="height:170px">

        <a href="/my/courses/dashboard/<?php echo $value['id']; ?>"><h4><?php echo $value['name']; ?></h4></a>

      
        <ul class="tm_2_em">
          <li>
            <a href="/my/courses/dashboard/<?php echo $value['id']; ?>">Course Dashboard</a>
          </li>
          <li>
            <a href="/my/forum/<?php echo $value['id']; ?>">Course Forum</a>
          </li>
          <li>
            <a href="<?php echo $value['Navlink']['url']; ?>" target="_blank">Enter Course</a>
          </li>
        </ul>
        <span class="gt_25"><?php // echo $value['id']; ?></span>
    </div>
  </div>
<?php endforeach; ?>
