<div class="container-fluid tm_1_em">


    <div class="col-sm-9">
				<div class="row">
					<div class="col-sm-3">
              <img style="max-width:100%"  src="/owls/<?php echo str_replace( "med", "med",$value['Avatar']['filepath']) ?>" alt="">
					</div>
					<div class="col-sm-9 pt_3_em">
  						<h1><?php echo $value['name']; ?></h1>
						<h4 class="">Course Dashboard Teacher</h4>
            <ul>
              <li><a href="/my/forum/<?php echo $value['id']; ?>">Forum for this course</a></li>
              <li><a href="/my/Navigation link/">Edit Navlink</a></li>
              <?php
              echo $this->Bootstrapform->create('Navlink', array( 'class' => 'form-horizontal' ));
              echo $this->Bootstrapform->input('navlink_id',array('options'=>$navlink_data['Navlink']['options'],'value'=>$navlink_data['Navlink']['value']));
              echo $this->Bootstrapform->submit("Submit",array('class'=>'btn btn-default tm_1_em'));
              echo '<div class="clear clearfix">&nbsp;</div>';
              echo $this->Bootstrapform->end();
              ?>
            </ul>
					</div>
				</div>

        <div class="clear clearfix tm_2_em">&nbsp;</div>
        <div class="clear clearfix">&nbsp;</div>
        <div class="">
          <div class="col-sm-6">
            <h3 style="margin-top:0px">Course Navigation</h3>
          </div>
          <div class="col-sm-6"  style="margin-right:0px; padding-right:0px;">
          
            <a class = "btn-sm pull-right btn btn-default" href="/my/courses/addcontent/<?php echo $value['Navlink']['id']; ?>">Add Content</a>
          
          
          
          
          </div>
        </div>
        <div style="width:100%;  overflow-y:auto;">
          <table class="table table-striped table-bordered table-hover">
              <tbody>
              <tr></th>
                <tr>
                  <?php  echo $this->element('dashboards/navlinks/recursive_sitemap_navlinks',array('editable' => true,'navlinks'=>$navlinks)); ?>
                </tr>
              </tbody>
          </table>
        </div>












              <div class="well tm_3_em">
                <br/>
                    addcontent->createnavlink->{redirect to appropriate content type creation} -> [redirect to the dashboard for this course]
                <br/><br/>
                This may require some kind of intervention in ALL the original plugins.   What you are currently thinking is some kind of Session Var that holds something like "postcreation-redirect." or "set-redirect-flag" But you need to think about
                how those get set and cleared.
                <br/><br/>
                  <b>ADD DELETE </b>
                <br/>
                Deleting should delete the link as well as it's content and cascade down through. deleting child links and child content.
                <br/>
                  Need to add /my/courses/editcontent
                <br/>
                $this->Navlink->delete() deletes the navlink and its children.<br/>
                $g = $this->Navlink->removeFromTree($id); // deletes just the navlink and moves it's children up a level. <br/>
                Also CourseNavigation (and all the course navigation edit ui) redirects to the navlinks page. <br/>
                <ul>

                  <li>Edit Content</li>
                  <li>Edit Link</li>
                  <li>Delete this link only</li>
                  <li>delete link and children</li>
                </ul>
                <br/>
                url<br/>
                quiz<br/>
                Landingpage<br/>
                Post<br/>
                  <br/><br/>
                Blogpost<br/>
                Branchingslide<br/>
                <br/><br/>
                <b>
                    Once you get CREATE READ UPDATE DELTE working.
                    then how do you implement student view?
                </b>
              </div>

















      </div>
      <div class="col-sm-3">
        <?php echo $this->element('stubs/messages'); ?>
        <?php echo $this->element('stubs/calendar'); ?>
      </div>
      <div class="clear clearfix">&nbsp;</div>








</div>
