<div class="container-fluid tm_1_em">
    <div class="col-sm-9">
				<div class="row">
					<div class="col-sm-3">

              <img style="max-width:100%"  src="/owls/<?php echo str_replace( "med", "med",$value['Avatar']['filepath']) ?>" alt="">
              <?php //debug($value); ?>
					</div>
					<div class="col-sm-9 pt_3_em">
  						<h1><?php echo $value['name']; ?></h1>
						<h4 class="bm_1_em">Course Dashboard Student</h4>
            <ul>
              <li><a href="/my/forum/<?php echo $value['id']; ?>">Forum for this course</a></li>
              <li><a href="/my/stub/calendar/">Course Calendar</a></li>
              <li><a href="/my/stub/forum_listing/">Grades</a></li>
            </ul>
					</div>
				</div>
        <div class="clear clearfix tm_2_em">&nbsp;</div>
        <?php echo $this->element('stubs/current_lessons'); ?>
        <div class="clear clearfix tm_3_em">&nbsp;</div>

        <h2>Course Navigation</h2>

        <div style="width:100%; overflow-y:auto;">
          <table class="table table-striped table-bordered table-hover">
              <tbody>
              <tr></th>
                <tr>
                  <?php  echo $this->element('Navigations.recursive_sitemap_navlinks',array('editable' => false, 'navlinks' => $navlinks)); ?>
                </tr>
              </tbody>
          </table>

        </div>
        <div class="clear clearfix">&nbsp;</div>

        <div class="tm_5_em">
        <?php echo $this->element('stubs/calendar'); ?>
        </div>
      </div>



      <div class="col-sm-3 ">
        <?php echo $this->element('stubs/assignment_feed'); ?>
      </div>

      <div class="clear clearfix">&nbsp;</div>


      <div class="well tm_4_em">
      <h3>For a student <em>course</em> dashboard</h3> what you need to see is:<br/>
      &nbsp;&nbsp;&nbsp;&nbsp;Where you left off / what's next.<br/>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;(quizzes, as well as progress through the course material)<br/>
      &nbsp;&nbsp;&nbsp;&nbsp;due dates / next quiz<br/>
      &nbsp;&nbsp;&nbsp;&nbsp;grades.<br/>
      &nbsp;&nbsp;&nbsp;&nbsp;messages / forum replies<br/>



      <br/><br/>
      <h3>For a Teacher led course:</h3><br/>
        Course CRUD<br/>
        View All students in class
        View / Moderate the forum.
          Create<br/>
            Adding content and
          Read<br/>
          Update (add to course)<br/>
          <ul>
            <li>Posts / Blog</li>
            <li>Quizzes</li>
            <li>Video</li>
            <li>Video Live Streaming</li>
          </ul>


          Delete<br/><br/><br/>
          Add to Schedule.<br/>
            View Schedule.<br/>


      <br/>

      	also, look at the data $this->current_user is returning.  it is overkill for the majority of pages and must be contained.
      <br/>

      		Not sure how to query proximal dates<br/>
      	<br/>
      <br/>

      Right now you are organizing around the calendar.    It doesn't need to neccessarily be date based.  If a class is self-led then the calendar doesn't matter.
      In that cas what are the requirements of the student and the teacher?
      Next Lesson & or next quiz



      	Need to get a list of Courseevents by User Id
      <br/>


      	Courseevent<br/>
      	Courses<br/>
      	Users<br/>
      <br/><br/>

      	<br/>
      </div>




</div>
<div class="container-fluid">

</div>
