<h4>Notifications:</h4>

<div class="well ">
  <p>


    SCHEMA

      quiz habtm course
      quiz habtm Users, (some server side logic for is the user the teacher of this course else is a student.)




      student hasmany Quizzes

      course has many pages?
      class hasOne Landingpage
      class has one navlink

      Class hasMany Quizzes.
      Class hasMany Lessons.







      courses_teachers
      quizzes_courses






      quizzes should be listable by course, or by user Id, (and separated by Course?)






  </p>

</div>
