<div class="container-fluid tm_2_em">
  <?php if (empty($include)):
        $include ="default"; ?>
    <ul>
      <?php foreach ($listing as $key => $value): ?>
        <li>  <a href="/my/activities/devs/<?php echo str_replace('.ctp','',$value['item']) ?>"><?php echo str_replace('.ctp','',$value['item']) ?></a> </li>
      <?php endforeach; ?>
    </ul>
<?php else:
  echo $this->element('devs/'.$include);
  ?>



  <?php endif;
?>


</div>
