<?php echo $this->element("activities_table"); ?>



<div class="list-group">
    <H4>Dynamic</h4>
    <?php 
        foreach ($session_activities as $key => $value):
            ?>
                <a href="/my/activities/view/<?php  echo  $value['id'] ?>"  target = "_blank" class="list-group-item"><?php  echo  $value['name'] ?></a>
            <?php 
        endforeach;
    ?>

    
    <a href="/my/activities/modes"  target = "_blank" class="list-group-item">Modes</a>    

</div>





