<div id = "sidenav_content">
	<?php echo($current_user['User']['username'].', '.Inflector::singularize($current_user['Group']['name'])); ?>

	<?php if ($layoutpos == "a"): ?>
	<?php echo($this->RecursiveNav->drawNavFlat($left_nav_array, null, array('aClass'=>''))); ?>
	<?php else: ?>
	<?php endif ?>

	



</div>

<div class="bm_1em">&nbsp;</div>
