<div class= "bm_2_em tm_10_px" style="width:100%; text-align:center;" >
	<a href="/my/dashboard/">
			<img data-src="holder.js/240x140" class="img-circle" alt="Avatar Picture" src="/owls/badge_med_general.png" data-holder-rendered="true" style="width: 140px; height: 140px;">
	</a>
	<div class = "" style = "text-align:center;">
		<?php


		echo($current_user['User']['username'].'<br/>'.Inflector::singularize($current_user['Group']['name'])); ?>
		<a href="/my/stub/">Stub</a>
	</div>
</div>




<div id = "sidenav_content">
	<?php if ($layoutpos == "a"): ?>
	<?php echo($this->RecursiveNav->drawNavFlat($left_nav_array, null, array('aClass'=>''))); ?>
	<?php else: ?>
	<?php endif ?>
	</div>

<div class="bm_1em">&nbsp;</div>
