



<div id = "sidenav_content">
	
	<?php if ($layoutpos == "a"): ?>
	<?php echo($this->RecursiveNav->drawNavFlat($left_nav_array, null, array('aClass'=>''))); ?>
	<?php else: ?>
	<?php endif ?>

	


<div class= "bm_2_em tm_10_px" style="" >
	<a href="/my/dashboard/">
			<!-- <img data-src="holder.js/240x140" class="img-circle" alt="Avatar Picture" src="/owls/badge_med_general.png" data-holder-rendered="true" style="width: 140px; height: 140px;"> -->
	</a>
	<div class = "" style = "">
		<?php echo($current_user['User']['username'].'<br/>'.Inflector::singularize($current_user['Group']['name'])); ?>
	</div>
</div>




</div>
	
<div class="bm_1em">&nbsp;</div>


