<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="nav_content_container">
      <?php echo $this->element('navigation/top_nav_content');?>
    </div>
</nav>
<div class="nav_underbar navbar-default nav_underbar_fixed">
    &nbsp;
 </div>            