<nav class="navbar navbar   navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container">
    <?php echo $this->element('navigation/top_nav_content',array('admin'=>  !empty($admin)   ));?>
  </div>
</nav>
<div class="nav_underbar navbar-default">
    &nbsp;
 </div>            
