<div class="btn-group ">
            <div class="btn-group closeonclick" id="interval_select">
                <button type="button" class="btn  btn-sm btn-default dropdown-toggle" data-toggle="dropdown">
                    <span class="interval_select_label label_span">Interval</span>
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu">
                    <li><a class="interval_select_btn" href="#0">1</a></li>
                    <li><a class="interval_select_btn" href="#1">2</a></li>
                    <li><a class="interval_select_btn" href="#2">3</a></li>
                    <li><a class="interval_select_btn" href="#3">4</a></li>
                    <li><a class="interval_select_btn" href="#4">5</a></li>
                    <li><a class="interval_select_btn" href="#5">6</a></li>
                    <li><a class="interval_select_btn" href="#5">7</a></li>
                    <li><a class="interval_select_btn" href="#5">8</a></li>
                    <li><a class="interval_select_btn" href="#5">9</a></li>
                    <li><a class="interval_select_btn" href="#5">10</a></li>
                    <li><a class="interval_select_btn" href="#5">11</a></li>
                    <li><a class="interval_select_btn" href="#5">12</a></li>
                </ul>
            </div> 
        </div><!-- btn-group -->


