

<div class="fullscreen-image">
    <?php   $background_image ='armillarywatermark_transparent.png'; ?>
  <img style="opacity:.36" alt="" src="/img/backgrounds/<?php echo $background_image; ?>">
</div>
