<?php echo $this->BootstrapForm->create('Landingpage', array('class' => ''));?>
<div class="row-fluid">
		<h2><?php echo __( __('Page Visits'));?></h2>
	<?php echo $this->element('listing_table');?>		
</div>
<?php echo $this->BootstrapForm->end();?>