<div class="navbar-inverse">
	<h2>
		Edit Homepage Tout
	</h2>
	<p><?php echo $this->data['Homepagetout']['head']; ?></p>				
	<div class = "clearfix">&nbsp;</div>			
</div>

<div class="admin_subsub "> 
	<div class="admin_padding tm_10_px bm_12_px">
		<div class="btn-group breadcrumbs_nav"><a href="/my/homepage/" class="">Homepage Tout Index</a>&nbsp;</div>
	</div>
</div>

<div class="admin_padding">
	<?php echo $this->element('home_tout_edit'); ?>
</div>