<?php echo $total < $limit ?>
<?php debug($limit); ?>
<?php debug($dummy); ?>
<?php debug($total.' total users'); ?>
<div class="alert" id = "timer">
	
</div>
<script type="text/javascript" charset="utf-8">
	var i = 0;
	var timeLimit = 1;
	function bounce(){
		if(<?php echo $total < $limit ?>){
			window.location = '/my/users/dummy/'+<?php echo $i+1 ?>;	
		}
	}
	function update(){
		i++;
		$("#timer").html("Generating new in "+(timeLimit-i))		

		if(i >= timeLimit){
			bounce();
		}
	}
	setInterval(update,1000)
	
</script>