<?php
    $width = 1170;
    $height = 140;
?>
<div id = "waveform_container_<?php echo $guid; ?>" style = "box-sizing: border-box; width:100%; height:140px; display: block;">
    <canvas id = "waveFormBackground_<?php echo $guid; ?>"  style = "position:absolute" height = "140" width = "<?php echo $width ;?>" class = "gs_0 "></canvas>
    <canvas id = "waveFormBox_<?php echo $guid; ?>" style = "position:absolute" height = "140" width = "<?php echo $width ;?>"  ></canvas>
</div>


<div class = "clear clearfix">&nbsp; </div>
<div class = "clear clearfix ">&nbsp;</div>
