<div class="container-fluid ">
  <?php if (empty($include)):
        $include ="default"; ?>
    <ul>
      <?php foreach ($listing as $key => $value): ?>
        <li>  <a target = "_blank" href="/my/stub/<?php echo str_replace('.ctp','',$value['item']) ?>"><?php echo str_replace('.ctp','',$value['item']) ?></a> </li>
      <?php endforeach; ?>
    </ul>
<?php else:
  echo $this->element('stubs/'.$include);
  ?>



  <?php endif;
?>


</div>
