

<div class="offset2 tm_2_em bm_4_em">
	<?php 
	$k = 0;
	foreach ($data as $key => $value): 
		if($key==1){continue;}		
		?>
		<div class="tm_5_px">
			<strong>
				<?php echo $k.'. '.$value;?>	
			</strong>
		</div>	
		
	<?php
			$k++;
	 endforeach ?>
</div>