<div class="name" style="width:100%; overflow-x:hidden;">
	<iframe src="/media/iframe_flash/<?php echo $post['Post']['media_file']; ?>?nc=<?php echo rand() ?>" width="100%" height="580" scrolling="no" frameborder="0">
		[Your browser does not support frames or is currently configured not to display frames. Please use an up-to-date browser that is capable of displaying frames.]
	</iframe>
</div>
<?php
	/*
	<a class = 'btn pull-right' onclick = 'openmodal("/media/iframe_flash/<?php echo $post['Post']['media_file']; ?>")'>Open in a larger view</a>
	*/
	echo '';

?>

<div class = "clearfix">&nbsp;</div>
<hr/>

