<div class="white_well" >
	<div class="name" style="width:100%; overflow-x:hidden;">
		<div class="bm_1_em" style = 'text-align:center;'>
			<a onclick = 'openmodal("/media/iframe_flash/<?php echo $post['Post']['media_file']; ?>")'>			
				<?php 
						$fl = "../webroot/media/iframe_flash/".$post['Post']['media_file']."/thumbnail.jpg";
				if (file_exists($fl)): ?>
						<img src="/media/iframe_flash/<?php echo $post['Post']['media_file']; ?>/thumbnail.jpg" alt = "<?php echo $post['Post']['media_file'] ?>"/>
					<?php elseif(file_exists("../webroot/media/iframe_flash/".$post['Post']['media_file']."/poster.jpg")): ?>
						<img src="/media/iframe_flash/<?php echo $post['Post']['media_file']; ?>/poster.jpg" alt = "<?php echo $post['Post']['media_file']; ?>"/>
					<?php else: ?>
						<img src="/img/Movie_icon_2.png" alt = "404 image not found"/>
				<?php endif ?>
			</a>
		</div>
		<a class = 'btn btn-large btn-block btn-success' onclick = 'openmodal("/media/iframe_flash/<?php echo $post['Post']['media_file']; ?>")'>Launch in Modal</a>
	</div>
</div>
<div class = "clearfix">&nbsp;</div>
<hr/>