<?php $videoDirectory = "/media/video/"?>
<div class = "clearfix tm_h_em">&nbsp;</div>
	<div class="well">
		<div class = 'video_bkg'>	
			<video controls width="100%" style='width:100%;'>  
			<?php
				/// loop through all the files in the 
				$directory_path = '.'.$videoDirectory.$post['Post']['media_file'];
				if ($handle = opendir($directory_path)) {		
				    while (false !== ($file = readdir($handle))) {							
							$fileExt = end(explode('.', $file));
			 				$basename = basename($file, ".".$fileExt);
							if($basename!='.' && $basename !='..'&& $basename !='.DS_Store'){
								switch ($fileExt) {
									case 'ogg':
									case 'ogv':
										$mimetype = 'video/ogg';
									break;
									case 'mp4':
									case 'm4v':
										$mimetype = 'video/mp4';
									break;							
									case 'webm':
									case 'webm':
										$mimetype = 'video/webm';
									break;
									case 'flv':
										$flv = $directory_path.'/'.$file;
									break;
									default:
									break;
									
								}
								?>
								<?php if (!empty($mimetype)): ?>
									<source src="<?php echo $videoDirectory.$post['Post']['media_file']?>/<?php echo $file ?>" type="<?php echo $mimetype; ?>" />
								<?php endif;
							}
				    }
				    closedir($handle);	
				}
				

			?>
			
			
			<?php if (!empty($flv)): ?>
				<object width="100%" height="400" type="application/x-shockwave-flash" data="/flash/videoPlayerNoCache.swf">
						<!-- Firefox uses the `data` attribute above, IE/Safari uses the param below -->
						<param name="movie" value="/flash/videoPlayerNoCache.swf" />
						<param name="flashvars" value="controlbar=over&amp; file=<?php echo $flv ?>" />
						this is some 
				</object>
			<?php endif ?>
			
			</video>
		</div>	
	</div>
<div class = "clearfix bm_1_em">&nbsp;</div>


