
    <?php    
    $b = explode("n",$id);
	// debug("n".$b[0]);
    $brt = $b[0].'n'.$value["Activity"]['id'];
    if (!empty($value["ChildActivity"])): ?>
        <a style = "float:left" href = "/my/activities/children/<?php echo $id ?>" class = "btn expand_button nav_toggle_buttons btn-xs btn-default" id = "expand_<?php echo $brt; ?>" > <i class="glyphicon glyphicon-plus"></i></a>
        <a style = "float:left; display:none;" href = "/my/activities/children/<?php echo $id ?>" class = "collapse_btn btn nav_toggle_buttons btn-xs btn-default"  id = "collapse_<?php echo $brt; ?>" >
            <i class="glyphicon glyphicon-minus"></i>
        </a>
    <?php endif ?>
