
<div class="navbar-inverse">
			<h2>
				Edit Landing Tout
			</h2>
			<p>Editing the tout <em><?php echo $this->data['Landingtout']['head']; ?> on the Landing tier <em><?php echo $this->data['Landingtier']['title']; ?>.</p>				
			<div class = "clearfix">&nbsp;</div>			
</div>
<div class="admin_subsub "> 
	<div class="admin_padding tm_10_px bm_12_px">
		<?php  echo $this->Breadcrumbs->breadcrumbs($breadcrumbs); ?>
	</div>
</div>
<div class="admin_padding tm_1_em">

<?php //debug($this->data); ?>


<div class="admin_padding">
	<?php echo $this->element('tout_edit'); ?>
</div>



</div>





